:root {
  --c-bg: #000000;
  --c-fg: #FFFFFF;
}

.dark-mode {
  --c-bg: #FFFFFF;
  --c-fg: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  margin: 0;
  font-family: "Gridnik", sans-serif;
  font-kerning: none;
  background-color: var(--c-bg);
  color: var(--c-fg);
}
body .container {
  position: relative;
  width: 100vw;
}
body .preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 200;
}
body .preloader .loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .preloader .loading-square1 {
  width: 5px;
  height: 5px;
  opacity: 0;
  background-color: var(--c-fg);
  animation: square1 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite 3s;
}
@keyframes square1 {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
}
@keyframes square2 {
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}
@keyframes square3 {
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
}
body .preloader .loading-square2 {
  width: 5px;
  height: 5px;
  margin-left: 15px;
  background-color: var(--c-fg);
  opacity: 0;
  animation: square2 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite 3s;
}
body .preloader .loading-square3 {
  width: 5px;
  height: 5px;
  opacity: 0;
  margin-left: 15px;
  animation: square3 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite 3s;
  background-color: var(--c-fg);
}
body .return {
  margin-bottom: 1rem;
}
@media (max-width: 900px) {
  body .return {
    margin-bottom: 0.75rem;
  }
}
body a,
body button.is-a {
  text-transform: uppercase;
  text-decoration: none;
  color: currentColor;
  background: none;
  border: none;
  padding: 0;
  display: inline-block;
}
body a:after,
body button.is-a:after {
  content: "";
  display: block;
  margin-top: 1px;
  height: 1px;
  width: 100%;
  opacity: 0;
  transform: scaleX(1);
  transform-origin: left;
  background-color: currentColor;
}
body a:hover::after,
body button.is-a:hover::after {
  animation: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  11% {
    opacity: 0;
  }
  19% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
body a:focus,
body button.is-a:focus {
  outline: none;
}
body a:hover,
body button.is-a:hover {
  cursor: pointer;
}
body .a-hide {
  display: block;
}
body .a-hide:after {
  display: none;
}
body header {
  pointer-events: none;
  width: 100vw;
  position: fixed;
  z-index: 100;
  font-family: "Gridnik";
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 50px;
  mix-blend-mode: difference;
}
@media (max-width: 900px) {
  body header {
    margin-top: 40px;
  }
}
body header .logo {
  position: absolute;
  z-index: 120;
  left: 0;
  pointer-events: all;
  margin-left: 4.53125vw;
}
@media (max-width: 900px) {
  body header .logo {
    margin-left: 40px;
  }
}
body header .about {
  position: absolute;
  z-index: 120;
  right: 0;
  pointer-events: all;
  margin-right: 17.083vw;
}
@media (max-width: 900px) {
  body header .about {
    margin-right: 40px;
  }
}
body header .dark {
  position: absolute;
  right: 0;
  z-index: 120;
  pointer-events: all;
  margin-right: 8.0209vw;
}
@media (max-width: 900px) {
  body header .dark {
    display: none;
  }
}
body header .line {
  position: absolute;
  right: 0;
  margin-right: 4.583vw;
  transform-origin: left;
  margin-top: 5px;
  width: 25px;
  height: 1px;
  transform: scaleX(1);
  background-color: var(--c-fg);
}
@media (max-width: 900px) {
  body header .line {
    display: none;
  }
}
body footer {
  width: 100vw;
  bottom: 0;
  z-index: 100;
  font-size: 12px;
  padding-bottom: 50px;
  mix-blend-mode: difference;
  display: flex;
  align-items: center;
}
@media (max-width: 900px) {
  body footer {
    padding-bottom: 40px;
  }
}
body footer .logo {
  margin-left: 4.53125vw;
}
@media (max-width: 900px) {
  body footer .logo {
    display: none;
  }
}
body footer .scrollUp {
  position: absolute;
  right: 0;
  margin-right: 4.583vw;
}
@media (max-width: 900px) {
  body footer .scrollUp {
    display: none;
  }
}
body footer ul {
  margin-left: 4.53125vw;
}
body footer li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}
@media (max-width: 900px) {
  body footer li {
    padding: 5px;
  }
}
body footer li a:hover {
  cursor: pointer;
}
body .transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  transform-origin: bottom center;
  opacity: 1;
  z-index: 120;
  overflow: hidden;
  clip: rect(100vh 100vw 100vh 0vh);
}
body .transition-plane {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  transform: scaleY(0);
  transform-origin: bottom;
}
body .transition-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
body .transition-flex span {
  white-space: nowrap;
}
body .transition-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
body .transition span {
  display: block;
  margin-top: 6vw;
  font-size: 50vw;
  color: black;
  font-family: "Gridnik Medium";
}
body .i-container {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
@media (max-width: 900px) {
  body .i-container {
    width: 100vw;
  }
}
body .i-container .footer-wrapper {
  position: relative;
  width: 100%;
  height: 300vw;
}
@media (max-width: 900px) {
  body .i-container .footer-wrapper {
    height: 490vh;
  }
}
@media (max-height: 667px) {
  body .i-container .footer-wrapper {
    height: 550vh;
  }
}
body .i-container .main-project {
  width: 100vw;
  height: max-content;
}
body .i-container .main-project-text {
  font-size: 12px;
  line-height: 1rem;
  font-family: "Gridnik";
  position: absolute;
  left: 17.03125vw;
  top: 22.1875vw;
}
@media (max-width: 900px) {
  body .i-container .main-project-text {
    top: 50vh;
    left: 50vw;
  }
}
body .i-container .main-project-text span {
  display: block;
}
body .i-container .main-project .cross {
  position: absolute;
  z-index: 90;
  top: 48.302vw;
  left: 25.3645vw;
  width: 100px;
  height: 100px;
  transform-origin: top center;
  transform-style: preserve-3d;
}
@media (max-width: 900px) {
  body .i-container .main-project .cross {
    width: 40px;
    height: 40px;
  }
}
body .i-container .main-project .cross:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--c-fg);
  transform-style: preserve-3d;
}
body .i-container .main-project .cross:after {
  content: "";
  display: block;
  transform: rotate(90deg);
  width: 100%;
  height: 1px;
  background-color: var(--c-fg);
  transform-style: preserve-3d;
}
body .i-container .main-project-img {
  position: absolute;
  right: 0;
  overflow: hidden;
  top: 20.3125vw;
  width: 57.96875vw;
  height: 64.427vw;
  transform-origin: top;
}
@media (max-width: 900px) {
  body .i-container .main-project-img {
    width: 100vw;
    height: 100vh;
    top: 80vh;
    right: -20vw;
  }
}
body .i-container .main-project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
body .i-container .description {
  top: 78.125vw;
  position: absolute;
  margin-left: 12.8645vw;
  width: 74.21875vw;
  height: max-content;
}
@media (max-width: 900px) {
  body .i-container .description {
    top: 160vh;
    width: calc(100vw - 80px);
    margin-left: 40px;
  }
}
body .i-container .description .line {
  position: relative;
  pointer-events: none;
  font-family: Suisse Mono Thin;
  letter-spacing: -0.15362vw;
  margin-bottom: 2.1041vw;
  font-size: 0.7346vw;
  width: 74.21875vw;
  overflow: hidden;
  height: 20px;
}
body .i-container .description .line span {
  position: absolute;
  top: 0;
  white-space: nowrap;
  left: 0;
}
@media (max-width: 900px) {
  body .i-container .description .line {
    display: none;
  }
}
body .i-container .description .line2 {
  position: relative;
  pointer-events: none;
  font-family: Suisse Mono Thin;
  letter-spacing: -0.15362vw;
  margin-top: 1.6666vw;
  font-size: 0.7346vw;
  width: 74.21875vw;
  overflow: hidden;
  height: 20px;
}
body .i-container .description .line2 span {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
}
@media (max-width: 900px) {
  body .i-container .description .line2 {
    display: none;
  }
}
body .i-container .description-text {
  font-size: 11vw;
  line-height: 11vw;
  height: 100%;
  text-transform: uppercase;
  position: relative;
  font-family: "Gridnik Medium";
  cursor: default;
}
@media (max-width: 900px) {
  body .i-container .description-text {
    font-size: 60px;
    line-height: 60px;
  }
  body .i-container .description-text:before {
    content: "";
    position: absolute;
    top: -25px;
    height: 1px;
    width: 100%;
    background-color: white;
  }
}
body .i-container .description-text span {
  cursor: default;
  display: block;
}
body .i-container .description-text .wrapper {
  overflow: hidden;
}
body .i-container .description-text-last {
  position: relative;
  display: inline-block !important;
}
body .i-container .description-text .internship {
  margin-top: 22px;
  position: absolute;
  transform: translateX(108%);
  top: 0;
  right: 0;
  font-size: 12px;
  line-height: 1.4;
  font-family: "Gridnik";
  width: 9.71875vw;
}
@media (max-width: 900px) {
  body .i-container .description-text .internship {
    display: none;
  }
}
@media (max-width: 1300px) {
  body .i-container .description-text .internship {
    margin-top: 5px;
    width: 20vw;
  }
}
body .i-container .projects {
  width: 100vw;
  height: 107.239vw;
  position: absolute;
  top: 141.5625vw;
  border-top: solid 1px #262626;
  border-bottom: solid 1px #262626;
}
@media (max-width: 900px) {
  body .i-container .projects {
    top: 220vh;
    width: 100vw;
    height: auto;
  }
}
@media (max-height: 667px) {
  body .i-container .projects {
    top: 230vh;
    width: 100vw;
    height: auto;
  }
}
body .i-container .projects .grid {
  width: 100%;
  height: 100%;
}
@media (max-width: 900px) {
  body .i-container .projects .grid {
    width: 100%;
  }
}
body .i-container .projects .grid .project, body .i-container .projects .grid .archive {
  position: relative;
}
body .i-container .projects .grid .project-img, body .i-container .projects .grid .archive-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body .i-container .projects .grid .project-img img, body .i-container .projects .grid .archive-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .i-container .projects .grid .project-text {
  font-size: 12px;
  line-height: 1rem;
  font-family: "Gridnik";
  mix-blend-mode: difference;
  position: absolute;
  bottom: 4vw;
  left: 4vw;
  z-index: 20;
  pointer-events: none;
}
@media (max-width: 900px) {
  body .i-container .projects .grid .project-text {
    display: none;
  }
}
body .i-container .projects .grid .project-text span {
  display: block;
}
body .i-container .projects .grid .project a {
  width: 100%;
  height: 100%;
}
body .i-container .projects .grid .archive:hover img {
  transform: scale(1.1) rotate(3deg);
}
body .i-container .projects .grid .archive-text {
  font-size: 12px;
  line-height: 1rem;
  font-family: "Gridnik";
  mix-blend-mode: difference;
  position: absolute;
  left: 0;
  top: -2vw;
  z-index: 20;
  pointer-events: none;
}
@media (max-width: 900px) {
  body .i-container .projects .grid .archive-text {
    top: -20px;
  }
}
body .i-container .projects .grid .archive-text span {
  display: block;
}
body .i-container .projects .grid .archive a {
  width: 100%;
  height: 100%;
}
body .i-container .projects .grid-l1 {
  width: 100%;
  height: 32%;
  display: flex;
}
@media (max-width: 900px) {
  body .i-container .projects .grid-l1 {
    height: auto;
    border-bottom: 1px solid #262626;
  }
}
body .i-container .projects .grid-l1 .white-space {
  width: 21.25%;
  height: 100%;
}
@media (max-width: 900px) {
  body .i-container .projects .grid-l1 .white-space {
    display: none;
  }
}
body .i-container .projects .grid-l1 .content {
  width: 78.75%;
  height: 100%;
  border-bottom: 1px solid #262626;
  border-left: 1px solid #262626;
}
@media (max-width: 900px) {
  body .i-container .projects .grid-l1 .content {
    width: calc(100% - 80px);
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: none;
  }
}
body .i-container .projects .grid-l1 .content .project {
  width: 36.71875vw;
  height: 100%;
  position: relative;
}
@media (max-width: 900px) {
  body .i-container .projects .grid-l1 .content .project {
    width: 100%;
  }
}
body .i-container .projects .grid-l1 .content .project:before {
  content: "02";
  font-size: 12px;
  position: absolute;
  top: 4vw;
  transform: translateX(100%);
  right: -4vw;
  text-align: left;
}
@media (max-width: 900px) {
  body .i-container .projects .grid-l1 .content .project:before {
    top: 0;
  }
}
body .i-container .projects .grid-l1 .content .project:after {
  content: "(INITIAL)";
  font-size: 12px;
  position: absolute;
  bottom: 4vw;
  right: -4vw;
  transform: translateX(100%);
  text-align: right;
}
@media (max-width: 900px) {
  body .i-container .projects .grid-l1 .content .project:after {
    display: none;
  }
}
body .i-container .projects .grid-l1 .content .project img {
  object-position: top;
}
body .i-container .projects .grid-l2 {
  width: 100%;
  height: 34%;
  display: flex;
}
@media (max-width: 900px) {
  body .i-container .projects .grid-l2 {
    height: auto;
    border-bottom: 1px solid #262626;
  }
}
body .i-container .projects .grid-l2 .white-space {
  width: 21.25%;
  height: 100%;
  border-bottom: 1px solid #262626;
}
@media (max-width: 900px) {
  body .i-container .projects .grid-l2 .white-space {
    display: none;
  }
}
body .i-container .projects .grid-l2 .data {
  float: left;
  font-size: 12px;
  position: relative;
  height: 100%;
  width: 40%;
}
@media (max-width: 900px) {
  body .i-container .projects .grid-l2 .data {
    display: none;
  }
}
body .i-container .projects .grid-l2 .data-l1 {
  position: absolute;
  display: block;
  top: 4vw;
  left: 4vw;
}
body .i-container .projects .grid-l2 .data-l2 {
  position: absolute;
  display: block;
  bottom: 4vw;
  left: 4vw;
}
body .i-container .projects .grid-l2 .content {
  width: 78.75%;
  height: 100%;
  border-bottom: 1px solid #262626;
  border-left: 1px solid #262626;
}
@media (max-width: 900px) {
  body .i-container .projects .grid-l2 .content {
    width: calc(100% - 80px);
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: none;
  }
}
body .i-container .projects .grid-l2 .content .project {
  float: right;
  width: 28.802vw;
  height: 100%;
  position: relative;
}
@media (max-width: 900px) {
  body .i-container .projects .grid-l2 .content .project {
    width: 100%;
  }
}
body .i-container .projects .grid-l2 .content .project:before {
  content: "03";
  font-size: 12px;
  position: absolute;
  top: 4vw;
  transform: translateX(-100%);
  left: -4vw;
  text-align: left;
}
@media (max-width: 900px) {
  body .i-container .projects .grid-l2 .content .project:before {
    top: 0;
  }
}
body .i-container .projects .grid-l3 {
  width: 100%;
  height: 34%;
}
body .i-container .projects .grid-l3 .content {
  width: 100%;
  height: 100%;
  position: relative;
}
@media (max-width: 900px) {
  body .i-container .projects .grid-l3 .content {
    width: calc(100% - 80px);
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: none;
  }
}
body .i-container .projects .grid-l3 .content .project {
  display: inline-block;
  width: 37.08vw;
  height: 100%;
}
@media (max-width: 900px) {
  body .i-container .projects .grid-l3 .content .project {
    width: 100%;
    height: auto;
  }
}
body .i-container .projects .grid-l3 .content .project:before {
  content: "04";
  font-size: 12px;
  position: absolute;
  top: 4vw;
  transform: translateX(100%);
  right: -4vw;
  text-align: left;
}
@media (max-width: 900px) {
  body .i-container .projects .grid-l3 .content .project:before {
    top: 0;
  }
}
body .i-container .projects .grid-l3 .content .project:after {
  content: "R011";
  font-size: 12px;
  position: absolute;
  bottom: 4vw;
  right: -4vw;
  transform: translateX(100%);
  text-align: right;
}
@media (max-width: 900px) {
  body .i-container .projects .grid-l3 .content .project:after {
    display: none;
  }
}
body .i-container .projects .grid-l3 .content .project img {
  object-position: top;
}
body .i-container .projects .grid-l3 .content .archive {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 24.21875vw;
  height: 50%;
  margin-right: 8.8vw;
}
@media (max-width: 900px) {
  body .i-container .projects .grid-l3 .content .archive {
    position: relative;
    width: 50%;
    height: 50%;
    margin-top: 40px;
  }
}
body .i-container .projects .grid-l3 .content .archive img {
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
body .i-container .projects .cross {
  position: absolute;
  z-index: 90;
  top: 15.2395vw;
  left: 8.1458vw;
  width: 100px;
  height: 100px;
  transform-origin: top center;
  transform-style: preserve-3d;
}
@media (max-width: 900px) {
  body .i-container .projects .cross {
    display: none;
  }
}
body .i-container .projects .cross:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--c-fg);
  transform-style: preserve-3d;
}
body .i-container .projects .cross:after {
  content: "";
  display: block;
  transform: rotate(90deg);
  width: 100%;
  height: 1px;
  background-color: var(--c-fg);
  transform-style: preserve-3d;
}
body .i-container .last-container {
  position: absolute;
  top: 263.03vw;
  width: 100vw;
  height: 32.4791vw;
  font-size: 12px;
  line-height: 1rem;
  font-family: "Gridnik";
}
@media (max-width: 900px) {
  body .i-container .last-container {
    top: 450vh;
  }
}
@media (max-height: 667px) {
  body .i-container .last-container {
    top: 500vh;
  }
}
body .i-container .last-container .cross {
  position: absolute;
  z-index: 90;
  top: 0;
  left: 17.03125vw;
  width: 100px;
  height: 100px;
  transform-origin: top center;
  transform-style: preserve-3d;
}
@media (max-width: 900px) {
  body .i-container .last-container .cross {
    width: 40px;
    height: 40px;
  }
}
body .i-container .last-container .cross:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--c-fg);
  transform-style: preserve-3d;
}
body .i-container .last-container .cross:after {
  content: "";
  display: block;
  transform: rotate(90deg);
  width: 100%;
  height: 1px;
  background-color: var(--c-fg);
  transform-style: preserve-3d;
}
body .i-container .last-container p {
  position: absolute;
  left: 37.8645vw;
  top: 15.6875vw;
  width: 7.552vw;
  display: block;
}
@media (max-width: 1300px) {
  body .i-container .last-container p {
    width: 30vw;
  }
}
body .cursor {
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 500px;
}
@media (max-width: 1440px) and (min-width: 900px) {
  body .cursor {
    height: 400px;
    width: 400px;
  }
}
@media (max-width: 900px) {
  body .cursor {
    display: none;
  }
}
body .cursor-wrapper {
  position: absolute;
  height: 500px;
  width: 500px;
  transform-origin: center center;
  overflow: hidden;
}
@media (max-width: 1440px) and (min-width: 900px) {
  body .cursor-wrapper {
    height: 400px;
    width: 400px;
  }
}
body .cursor-inner-1 {
  position: absolute;
  display: none;
  height: 500px;
  width: 500px;
  background-image: url("/irishman.ebc1618f.jpg");
  background-position: center center;
  background-size: cover;
}
@media (max-width: 1440px) and (min-width: 900px) {
  body .cursor-inner-1 {
    height: 400px;
    width: 400px;
  }
}
body .cursor-inner-2 {
  position: absolute;
  display: none;
  height: 500px;
  width: 500px;
  background-image: url("/ame.28604df1.jpg");
  background-position: center center;
  background-size: cover;
}
@media (max-width: 1440px) and (min-width: 900px) {
  body .cursor-inner-2 {
    height: 400px;
    width: 400px;
  }
}
body .cursor-inner-3 {
  position: absolute;
  display: none;
  height: 500px;
  width: 500px;
  background-image: url("/sean.f2f7f4e9.jpg");
  background-position: center center;
  background-size: cover;
}
@media (max-width: 1440px) and (min-width: 900px) {
  body .cursor-inner-3 {
    height: 400px;
    width: 400px;
  }
}
body .a-container {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}
@media (max-width: 900px) {
  body .a-container {
    width: 100vw;
  }
}
body .a-container .footer-wrapper {
  position: relative;
  width: 100%;
  height: 120.8541vw;
}
@media (max-width: 900px) {
  body .a-container .footer-wrapper {
    width: 100vw;
    height: 300vh;
  }
}
body .a-container .a-intro {
  font-size: 12px;
  line-height: 16px;
  font-family: Suisse;
  position: absolute;
  width: 9.77vw;
  left: 35.8645vw;
  top: 22.09375vw;
}
@media (max-width: 900px) {
  body .a-container .a-intro {
    top: 140vh;
    width: 35vw;
  }
}
@media (max-width: 1440px) and (min-width: 900px) {
  body .a-container .a-intro {
    width: 15vw;
  }
}
body .a-container .a-intro p {
  width: 100%;
}
body .a-container .a-cross {
  position: absolute;
  z-index: 90;
  top: 29.4791vw;
  left: 79.53125vw;
  width: 100px;
  height: 100px;
  transform-origin: top center;
  transform-style: preserve-3d;
}
@media (max-width: 900px) {
  body .a-container .a-cross {
    width: 40px;
    height: 40px;
    top: 20vh;
    left: 70vw;
  }
}
body .a-container .a-cross:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--c-fg);
  transform-style: preserve-3d;
}
body .a-container .a-cross:after {
  content: "";
  display: block;
  transform: rotate(90deg);
  width: 100%;
  height: 1px;
  background-color: var(--c-fg);
  transform-style: preserve-3d;
}
body .a-container .a-cross2 {
  position: absolute;
  z-index: 90;
  left: 25.3645vw;
  top: 108.645vw;
  width: 100px;
  height: 100px;
  transform-origin: top center;
  transform-style: preserve-3d;
}
@media (max-width: 900px) {
  body .a-container .a-cross2 {
    width: 40px;
    height: 40px;
    top: 170vh;
  }
}
body .a-container .a-cross2:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--c-fg);
  transform-style: preserve-3d;
}
body .a-container .a-cross2:after {
  content: "";
  display: block;
  transform: rotate(90deg);
  width: 100%;
  height: 1px;
  background-color: var(--c-fg);
  transform-style: preserve-3d;
}
body .a-container .a-title {
  font-family: Suisse;
  position: absolute;
  top: 76.9791vw;
  width: 53.38541vw;
  left: 12.86458vw;
  font-size: 25px;
}
body .a-container .a-title a {
  text-transform: none;
  text-decoration: underline;
}
body .a-container .a-title a:hover {
  text-decoration: none;
}
body .a-container .a-title a:after {
  display: none;
}
body .a-container .a-title h1 {
  font-size: 2.083vw;
  font-weight: 400;
  line-height: 1.15;
}
@media (max-width: 900px) {
  body .a-container .a-title h1 {
    font-size: 25px;
  }
}
@media (max-width: 900px) {
  body .a-container .a-title {
    width: calc(100vw - 80px);
    left: 40px;
    top: 200.5vh;
    font-size: 20px;
  }
}
@media (max-height: 667px) {
  body .a-container .a-title {
    top: 190.5vh;
  }
}
body .a-container .a-content {
  font-family: Suisse;
  position: absolute;
  left: 46.19791vw;
  top: 95.677vw;
  width: 20.052vw;
  font-size: 14px;
  line-height: 1.4;
}
@media (max-width: 900px) {
  body .a-container .a-content {
    width: calc(100vw - 80px);
    left: 40px;
    top: 250vh;
    font-size: 14px;
    line-height: 20px;
  }
}
body .a-container .a-content p {
  margin-top: 1rem;
  width: 100%;
}
body .a-container .a-data {
  font-size: 15.625vw;
  font-family: "Gridnik Medium";
  line-height: 15.625vw;
}
@media (max-width: 900px) {
  body .a-container .a-data {
    font-size: 140px;
    line-height: 140px;
  }
}
body .a-container .a-data-n1 {
  overflow: hidden;
  position: absolute;
  left: 12.8645vw;
  top: 16.302vw;
}
body .a-container .a-data-n1:hover {
  cursor: pointer;
}
@media (max-width: 900px) {
  body .a-container .a-data-n1 {
    top: 30vh;
    left: 40px;
  }
}
body .a-container .a-data-n1 span {
  display: block;
}
body .a-container .a-data-n2 {
  overflow: hidden;
  position: absolute;
  left: 50.3645vw;
  top: 34.6875vw;
}
@media (max-width: 900px) {
  body .a-container .a-data-n2 {
    top: 60vh;
    left: auto;
    right: 40px;
  }
}
body .a-container .a-data-n2:hover {
  cursor: pointer;
}
body .a-container .a-data-n2 span {
  display: block;
}
body .a-container .a-data-n3 {
  overflow: hidden;
  position: absolute;
  left: 29.53125vw;
  top: 53.0729vw;
}
body .a-container .a-data-n3:hover {
  cursor: pointer;
}
@media (max-width: 900px) {
  body .a-container .a-data-n3 {
    top: 90vh;
    left: 40px;
  }
}
body .a-container .a-data-n3 span {
  display: block;
}
body .p-container {
  position: relative;
  width: 100vw;
}
body .p-container .project-content {
  margin-top: 5.7291vw;
  width: 100vw;
}
@media (max-width: 900px) {
  body .p-container .project-content {
    margin-top: 60px;
  }
}
body .p-container .project-content .bg {
  width: 100vw;
  padding-top: 5.7291vw;
  padding-bottom: 5.7291vw;
  height: 110vh;
  background-color: white;
}
body .p-container .project-content .bg video {
  margin-left: 12.890625vw;
  width: 74.21875vw;
}
body .p-container .project-content .bg img {
  margin-left: 12.890625vw;
  width: 74.21875vw;
}
body .p-container .project-content .med {
  width: 74.21875vw;
  margin-left: 12.890625vw;
  margin-top: 5.7291vw;
  margin-bottom: 5.7291vw;
}
@media (max-width: 900px) {
  body .p-container .project-content .med {
    width: calc(100vw - 80px);
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
body .p-container .project-content-img {
  overflow: hidden;
  height: auto;
}
body .p-container .project-content img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
body .p-container .project-content-video {
  overflow: hidden;
  height: auto;
}
body .p-container .project-content video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media (max-width: 900px) {
  body .p-container .project-header {
    width: 100vw;
  }
}
body .p-container .project-header .line {
  pointer-events: none;
  margin-bottom: 5.7291vw;
  height: 1px;
  background: var(--c-fg);
  width: 74.21875vw;
  transform: scaleX(0);
  transform-origin: left;
  margin-left: 12.890625vw;
}
@media (max-width: 900px) {
  body .p-container .project-header .line {
    width: calc(100vw - 80px);
    margin-top: 5.7291vw;
    margin-left: 40px;
  }
}
body .p-container .project-header .project-title {
  overflow: hidden;
  padding-top: 41.25vh;
  font-family: "Gridnik";
  font-size: 12.5vw;
  line-height: 12.5vw;
  margin-left: 12.890625vw;
  width: 74.21875vw;
}
@media (max-width: 900px) {
  body .p-container .project-header .project-title {
    font-size: 50px;
    line-height: 50px;
    padding-top: 35vh;
    margin-left: 40px;
    width: calc(100vw - 80px);
  }
}
body .p-container .project-header .image-cover {
  width: 100vw;
  height: 95vh;
  overflow: hidden;
}
body .p-container .project-header .image-cover img {
  transform: scale(1.2);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
body .p-container .project-header .project-infos {
  position: relative;
  display: flex;
  font-size: 12px;
  line-height: 12px;
  font-family: "Gridnik";
  margin-left: 12.890625vw;
  margin-bottom: 5.7291vw;
  width: 74.21875vw;
}
@media (max-width: 900px) {
  body .p-container .project-header .project-infos {
    width: calc(100vw - 80px);
    margin-left: 40px;
    flex-direction: column;
    margin-bottom: 80px;
  }
}
body .p-container .project-header .project-infos .date {
  width: 4.1666vw;
}
@media (max-width: 900px) {
  body .p-container .project-header .project-infos .date {
    width: 80vw;
    margin-bottom: 15px;
  }
}
body .p-container .project-header .project-infos .previous {
  position: absolute;
  right: 0;
}
body .p-container .project-header .project-infos .infos {
  margin-left: 16.6666vw;
  width: 28.385vw;
}
@media (max-width: 900px) {
  body .p-container .project-header .project-infos .infos {
    width: 80vw;
    margin-left: 0;
  }
}
body .p-container .project-header .project-infos .infos-title {
  margin-bottom: 2.03125vw;
}
@media (max-width: 900px) {
  body .p-container .project-header .project-infos .infos-title {
    margin-bottom: 15px;
  }
}
body .p-container .project-header .project-infos .type {
  margin-left: 4.1666vw;
  width: 7.552vw;
}
@media (max-width: 900px) {
  body .p-container .project-header .project-infos .type {
    width: 80vw;
    margin-left: 0;
    margin-bottom: 15px;
  }
}
body .p-container .project-header .project-infos .number {
  margin-left: 4.94791vw;
  width: 4.1666vw;
}
@media (max-width: 900px) {
  body .p-container .project-header .project-infos .number {
    width: 80vw;
    margin-left: 0;
  }
}
body .p-container .project-header .project-infos .number span {
  display: block;
}
body .p-container .project-description {
  padding-left: 12.890625vw;
  padding-bottom: 5.7291vw;
  padding-top: 5.7291vw;
  width: 100vw;
  display: flex;
  border-bottom: solid 1px #262626;
}
@media (max-width: 900px) {
  body .p-container .project-description {
    flex-direction: column;
    width: calc(100vw - 80px);
    margin-left: 40px;
    margin-top: 80px;
  }
}
body .p-container .project-description .labels {
  font-family: "Gridnik" !important;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: calc(2rem + 5px);
}
@media (max-width: 900px) {
  body .p-container .project-description .labels {
    margin-bottom: 15px;
  }
}
body .p-container .project-description .project-text {
  width: 28.38541vw;
}
@media (max-width: 900px) {
  body .p-container .project-description .project-text {
    width: 100%;
  }
}
body .p-container .project-description .project-text p {
  font-family: Suisse;
  margin-top: 2rem;
  font-size: 26px;
  line-height: 34px;
}
@media (max-width: 900px) {
  body .p-container .project-description .project-text p {
    margin-top: 30px;
  }
}
body .p-container .project-description .project-roles {
  margin-left: 9.11458vw;
  width: 7.552vw;
  font-size: 12px;
  line-height: 18px;
}
@media (max-width: 900px) {
  body .p-container .project-description .project-roles {
    margin-left: 0;
    margin-top: 30px;
    width: 100%;
  }
}
body .p-container .project-description .project-roles span {
  font-family: Suisse;
  display: block;
}
body .p-container .project-description .project-softwares {
  margin-left: 4.94791vw;
  width: 7.552vw;
  font-size: 12px;
  line-height: 18px;
}
@media (max-width: 900px) {
  body .p-container .project-description .project-softwares {
    margin-left: 0;
    margin-top: 30px;
    width: 100%;
  }
}
body .p-container .project-description .project-softwares span {
  font-family: Suisse;
  display: block;
}
body .p-container .project-description .project-links {
  margin-left: 4.94791vw;
  width: 7.552vw;
  font-size: 12px;
  line-height: 18px;
}
@media (max-width: 900px) {
  body .p-container .project-description .project-links {
    margin-left: 0;
    margin-top: 30px;
    width: 100%;
  }
}
body .p-container .project-description .project-links span {
  display: block;
}
body .p-container .project-description .project-links a {
  font-family: Suisse;
  display: inline-block;
}
@media (max-width: 900px) {
  body .p-container .project-description .project-links a {
    text-decoration: underline;
  }
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.c-scrollbar {
  display: none;
  position: absolute;
  right: 4.53125vw;
  bottom: 50px;
  width: 1px;
  height: 5vw;
  background-color: white;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 1;
}
.c-scrollbar:before {
  content: "";
  width: 10px;
  height: 1px;
  position: absolute;
  top: 0;
  background-color: white;
  transform: translateX(-100%);
}
.c-scrollbar:after {
  content: "";
  width: 10px;
  height: 1px;
  position: absolute;
  bottom: 0;
  background-color: white;
  transform: translateX(-100%);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5px;
  height: 0;
  width: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 7px solid white;
}

/*# sourceMappingURL=/style.6d80b553.css.map */