:root {
  --c-bg: #000000;
  --c-fg: #FFFFFF;
}

.dark-mode {
  --c-bg: #FFFFFF;
  --c-fg: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  margin: 0;
  font-family: "Gridnik", sans-serif;
  font-kerning: none;
  background-color: var(--c-bg);
  color: var(--c-fg);
}
body .container {
  position: relative;
  width: 100vw;
}
body .preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 200;
}
body .preloader .loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .preloader .loading-square1 {
  width: 5px;
  height: 5px;
  opacity: 0;
  background-color: var(--c-fg);
  animation: square1 2s cubic-bezier(0.8, 0, 0.2, 1) infinite 3s;
}
@keyframes square1 {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
}
@keyframes square2 {
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}
@keyframes square3 {
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
}
body .preloader .loading-square2 {
  width: 5px;
  height: 5px;
  margin-left: 15px;
  background-color: var(--c-fg);
  opacity: 0;
  animation: square2 2s cubic-bezier(0.8, 0, 0.2, 1) infinite 3s;
}
body .preloader .loading-square3 {
  width: 5px;
  height: 5px;
  opacity: 0;
  margin-left: 15px;
  animation: square3 2s cubic-bezier(0.8, 0, 0.2, 1) infinite 3s;
  background-color: var(--c-fg);
}
body .return {
  margin-bottom: 1rem;
}
@media (max-width: 900px) {
  body .return {
    margin-bottom: 0.75rem;
  }
}
body a,
body button.is-a {
  text-transform: uppercase;
  text-decoration: none;
  color: currentColor;
  background: none;
  border: none;
  padding: 0;
  display: inline-block;
}
body a:after,
body button.is-a:after {
  content: "";
  display: block;
  margin-top: 3px;
  height: 1px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  background-color: currentColor;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1);
}
body a:hover::after,
body button.is-a:hover::after {
  transform: scaleX(1);
}
body a:focus,
body button.is-a:focus {
  outline: none;
}
body a:hover,
body button.is-a:hover {
  cursor: pointer;
}
body .a-hide {
  display: block;
}
body .a-hide:after {
  display: none;
}
body header {
  pointer-events: none;
  width: 100vw;
  position: fixed;
  z-index: 100;
  font-family: "Gridnik";
  text-transform: uppercase;
  font-size: 0.6875rem;
  margin-top: 50px;
  mix-blend-mode: difference;
}
@media (max-width: 900px) {
  body header {
    margin-top: 40px;
  }
}
body header .logo {
  position: absolute;
  z-index: 120;
  left: 0;
  pointer-events: all;
  margin-left: 4.53125vw;
}
@media (max-width: 900px) {
  body header .logo {
    margin-left: 40px;
  }
}
body header .about {
  position: absolute;
  z-index: 120;
  right: 0;
  pointer-events: all;
  margin-right: 17.083vw;
}
@media (max-width: 900px) {
  body header .about {
    margin-right: 40px;
  }
}
body header .dark {
  position: absolute;
  right: 0;
  z-index: 120;
  pointer-events: all;
  margin-right: 8.0209vw;
}
@media (max-width: 900px) {
  body header .dark {
    display: none;
  }
}
body header .line {
  position: absolute;
  right: 0;
  margin-right: 4.583vw;
  transform-origin: left;
  margin-top: 7px;
  width: 25px;
  height: 1px;
  transform: scaleX(1);
  background-color: var(--c-fg);
}
@media (max-width: 900px) {
  body header .line {
    display: none;
  }
}
body footer {
  width: 100vw;
  bottom: 0;
  z-index: 100;
  font-size: 0.6875rem;
  padding-bottom: 50px;
  mix-blend-mode: difference;
  display: flex;
  align-items: center;
}
@media (max-width: 900px) {
  body footer {
    padding-bottom: 40px;
  }
}
body footer .logo {
  margin-left: 4.53125vw;
}
@media (max-width: 900px) {
  body footer .logo {
    display: none;
  }
}
body footer .scrollUp {
  position: absolute;
  right: 0;
  margin-right: 4.583vw;
}
@media (max-width: 900px) {
  body footer .scrollUp {
    display: none;
  }
}
body footer ul {
  margin-left: 4.53125vw;
}
body footer li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}
@media (max-width: 900px) {
  body footer li {
    padding: 5px;
  }
}
body footer li a:hover {
  cursor: pointer;
}
body .transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  transform-origin: bottom center;
  opacity: 1;
  z-index: 120;
  overflow: hidden;
  clip: rect(100vh 100vw 100vh 0vh);
}
body .transition-plane {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  transform: scaleY(0);
  transform-origin: bottom;
}
body .transition-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
body .transition-flex span {
  white-space: nowrap;
}
body .transition-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
body .transition span {
  display: block;
  margin-top: 6vw;
  font-size: 50vw;
  color: black;
  font-family: Gridnik Medium;
}
body .i-container {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
@media (max-width: 900px) {
  body .i-container {
    width: 100vw;
  }
}
body .i-container .footer-wrapper {
  position: relative;
  width: 100%;
  height: 359.4791vw;
}
@media (max-width: 900px) {
  body .i-container .footer-wrapper {
    height: 440vh;
  }
}
body .i-container .main-project {
  width: 100vw;
  height: max-content;
}
body .i-container .main-project-text {
  font-size: 0.6875rem;
  line-height: 1rem;
  font-family: "Gridnik";
  position: absolute;
  left: 17.03125vw;
  top: 22.1875vw;
}
@media (max-width: 900px) {
  body .i-container .main-project-text {
    top: 50vh;
    left: 50vw;
  }
}
body .i-container .main-project-text span {
  display: block;
}
body .i-container .main-project .cross {
  position: absolute;
  z-index: 90;
  top: 48.302vw;
  left: 25.3645vw;
  width: 100px;
  height: 100px;
  transform-origin: top center;
  transform-style: preserve-3d;
}
@media (max-width: 900px) {
  body .i-container .main-project .cross {
    width: 40px;
    height: 40px;
  }
}
body .i-container .main-project .cross:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--c-fg);
  transform-style: preserve-3d;
}
body .i-container .main-project .cross:after {
  content: "";
  display: block;
  transform: rotate(90deg);
  width: 100%;
  height: 1px;
  background-color: var(--c-fg);
  transform-style: preserve-3d;
}
body .i-container .main-project-img {
  position: absolute;
  right: 0;
  overflow: hidden;
  top: 20.3125vw;
  width: 57.96875vw;
  height: 64.427vw;
  transform-origin: top;
}
@media (max-width: 900px) {
  body .i-container .main-project-img {
    width: 100vw;
    height: 100vh;
    top: 80vh;
    right: -20vw;
  }
}
body .i-container .main-project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
body .i-container .description {
  top: 78.125vw;
  position: absolute;
  margin-left: 12.8645vw;
  width: 74.21875vw;
  height: max-content;
}
@media (max-width: 900px) {
  body .i-container .description {
    top: 160vh;
    width: calc(100vw - 80px);
    margin-left: 40px;
  }
}
body .i-container .description .line {
  position: relative;
  pointer-events: none;
  font-family: Suisse Mono Thin;
  letter-spacing: -0.15362vw;
  margin-bottom: 2.6041vw;
  font-size: 0.7346vw;
  width: 74.21875vw;
  overflow: hidden;
  height: 20px;
}
body .i-container .description .line span {
  position: absolute;
  top: 0;
  white-space: nowrap;
  left: 0;
}
@media (max-width: 900px) {
  body .i-container .description .line {
    display: none;
  }
}
body .i-container .description .line2 {
  position: relative;
  pointer-events: none;
  font-family: Suisse Mono Thin;
  letter-spacing: -0.15362vw;
  margin-top: 1.6666vw;
  font-size: 0.7346vw;
  width: 74.21875vw;
  overflow: hidden;
  height: 20px;
}
body .i-container .description .line2 span {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
}
@media (max-width: 900px) {
  body .i-container .description .line2 {
    display: none;
  }
}
body .i-container .description-text {
  font-size: 12.5vw;
  line-height: 12.5vw;
  height: 100%;
  text-transform: uppercase;
  position: relative;
  font-family: Gridnik Medium;
  cursor: default;
}
@media (max-width: 900px) {
  body .i-container .description-text {
    font-size: 60px;
    line-height: 60px;
  }
}
body .i-container .description-text span {
  cursor: default;
  display: block;
}
body .i-container .description-text .wrapper {
  overflow: hidden;
}
body .i-container .description-text-last {
  position: relative;
  display: inline-block !important;
}
body .i-container .description-text .internship {
  margin-top: 22px;
  position: absolute;
  transform: translateX(108%);
  top: 0;
  right: 0;
  font-size: 0.6875rem;
  line-height: 1.4;
  font-family: "Gridnik";
  width: 9.71875vw;
}
@media (max-width: 900px) {
  body .i-container .description-text .internship {
    display: none;
  }
}
@media (max-width: 1300px) {
  body .i-container .description-text .internship {
    margin-top: 5px;
    width: 20vw;
  }
}
body .i-container .projects {
  margin-left: 12.8645vw;
  width: 74.21875vw;
  height: 130.46875vw;
  position: absolute;
  top: 146.5625vw;
}
@media (max-width: 900px) {
  body .i-container .projects {
    top: 220vh;
    width: calc(100vw - 80px);
    margin-left: 40px;
  }
}
body .i-container .projects .cross {
  position: absolute;
  z-index: 90;
  top: 27.2395vw;
  right: 6.1458vw;
  width: 100px;
  height: 100px;
  transform-origin: top center;
  transform-style: preserve-3d;
}
@media (max-width: 900px) {
  body .i-container .projects .cross {
    width: 40px;
    height: 40px;
  }
}
body .i-container .projects .cross:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--c-fg);
  transform-style: preserve-3d;
}
body .i-container .projects .cross:after {
  content: "";
  display: block;
  transform: rotate(90deg);
  width: 100%;
  height: 1px;
  background-color: var(--c-fg);
  transform-style: preserve-3d;
}
body .i-container .projects .project-1, body .i-container .projects .project-2, body .i-container .projects .project-3, body .i-container .projects .project-4 {
  width: 36.71875vw;
  height: 48.9583vw;
}
body .i-container .projects .project-1 .project-text, body .i-container .projects .project-2 .project-text, body .i-container .projects .project-3 .project-text, body .i-container .projects .project-4 .project-text {
  font-size: 0.6875rem;
  line-height: 1rem;
  font-family: "Gridnik";
  mix-blend-mode: difference;
  position: absolute;
  bottom: 4.1666vw;
  left: 4.1666vw;
  z-index: 20;
}
@media (max-width: 900px) {
  body .i-container .projects .project-1 .project-text, body .i-container .projects .project-2 .project-text, body .i-container .projects .project-3 .project-text, body .i-container .projects .project-4 .project-text {
    display: none;
  }
}
body .i-container .projects .project-1 .project-text span, body .i-container .projects .project-2 .project-text span, body .i-container .projects .project-3 .project-text span, body .i-container .projects .project-4 .project-text span {
  display: block;
}
@media (max-width: 900px) {
  body .i-container .projects .project-1, body .i-container .projects .project-2, body .i-container .projects .project-3, body .i-container .projects .project-4 {
    width: 60vw;
    height: 50vh;
  }
}
body .i-container .projects .project-1:hover, body .i-container .projects .project-2:hover, body .i-container .projects .project-3:hover, body .i-container .projects .project-4:hover {
  cursor: pointer;
}
body .i-container .projects .project-1:hover a::after, body .i-container .projects .project-2:hover a::after, body .i-container .projects .project-3:hover a::after, body .i-container .projects .project-4:hover a::after {
  transform: scaleX(1);
}
body .i-container .projects .project-1:hover img, body .i-container .projects .project-2:hover img, body .i-container .projects .project-3:hover img, body .i-container .projects .project-4:hover img {
  transform: scale(1.1) rotate(3deg);
}
body .i-container .projects .project-1 .project-img, body .i-container .projects .project-2 .project-img, body .i-container .projects .project-3 .project-img, body .i-container .projects .project-4 .project-img {
  width: 36.71875vw;
  height: 48.9583vw;
  overflow: hidden;
  position: relative;
  z-index: 10;
}
@media (max-width: 900px) {
  body .i-container .projects .project-1 .project-img, body .i-container .projects .project-2 .project-img, body .i-container .projects .project-3 .project-img, body .i-container .projects .project-4 .project-img {
    width: 100%;
    height: 100%;
  }
}
body .i-container .projects .project-1 .project-img img, body .i-container .projects .project-2 .project-img img, body .i-container .projects .project-3 .project-img img, body .i-container .projects .project-4 .project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1.2s cubic-bezier(0.8, 0, 0.2, 1);
}
body .i-container .projects .project-1 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
}
@media (max-width: 900px) {
  body .i-container .projects .project-1 {
    z-index: 4;
  }
}
body .i-container .projects .project-2 {
  z-index: 3;
  position: absolute;
  top: 42.5vw;
  right: 8.33332vw;
}
@media (max-width: 900px) {
  body .i-container .projects .project-2 {
    top: 45vh;
    right: 0;
  }
}
body .i-container .projects .project-3 {
  z-index: 2;
  position: absolute;
  top: 90.51vw;
  left: 8.33332vw;
}
@media (max-width: 900px) {
  body .i-container .projects .project-3 {
    top: 80vh;
    right: 20vw;
  }
}
body .i-container .projects .project-4 {
  z-index: 1;
  position: absolute;
  top: 131.51vw;
  right: 0vw;
}
@media (max-width: 900px) {
  body .i-container .projects .project-4 {
    top: 125vh;
  }
}
body .i-container .last-container {
  position: absolute;
  top: 327.03vw;
  width: 100vw;
  height: 32.4791vw;
  font-size: 0.6875rem;
  line-height: 1rem;
  font-family: "Gridnik";
}
@media (max-width: 900px) {
  body .i-container .last-container {
    top: 400vh;
  }
}
body .i-container .last-container .cross {
  position: absolute;
  z-index: 90;
  top: 0;
  left: 17.03125vw;
  width: 100px;
  height: 100px;
  transform-origin: top center;
  transform-style: preserve-3d;
}
@media (max-width: 900px) {
  body .i-container .last-container .cross {
    width: 40px;
    height: 40px;
  }
}
body .i-container .last-container .cross:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--c-fg);
  transform-style: preserve-3d;
}
body .i-container .last-container .cross:after {
  content: "";
  display: block;
  transform: rotate(90deg);
  width: 100%;
  height: 1px;
  background-color: var(--c-fg);
  transform-style: preserve-3d;
}
body .i-container .last-container p {
  position: absolute;
  left: 37.8645vw;
  top: 15.6875vw;
  width: 7.552vw;
  display: block;
}
@media (max-width: 1300px) {
  body .i-container .last-container p {
    width: 30vw;
  }
}
body .grid-w {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 500vh;
  justify-content: center;
  pointer-events: none;
  opacity: 0.15;
}
body .grid-w .grid {
  height: 100%;
}
body .grid-w .grid div {
  position: relative;
  float: left;
  width: 4.165vw;
  height: 100%;
}
body .grid-w .grid div:before {
  content: "";
  position: absolute;
  top: 0;
  width: 0.390625vw;
  left: 0;
  height: 100%;
  background: #980000;
}
body .grid-w .grid div:after {
  content: "";
  position: absolute;
  top: 0;
  width: 0.390625vw;
  right: 0;
  height: 100%;
  background: #980000;
}
body .cursor {
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 500px;
}
@media (max-width: 1440px) {
  body .cursor {
    height: 400px;
    width: 400px;
  }
}
@media (max-width: 900px) {
  body .cursor {
    display: none;
  }
}
body .cursor-wrapper {
  position: absolute;
  height: 500px;
  width: 500px;
  transform-origin: center center;
  overflow: hidden;
}
@media (max-width: 1440px) {
  body .cursor-wrapper {
    height: 400px;
    width: 400px;
  }
}
body .cursor-inner-1 {
  position: absolute;
  display: none;
  height: 500px;
  width: 500px;
  background-image: url("/irishman.ebc1618f.jpg");
  background-position: center center;
  background-size: cover;
}
@media (max-width: 1440px) {
  body .cursor-inner-1 {
    height: 400px;
    width: 400px;
  }
}
body .cursor-inner-2 {
  position: absolute;
  display: none;
  height: 500px;
  width: 500px;
  background-image: url("/ame.28604df1.jpg");
  background-position: center center;
  background-size: cover;
}
@media (max-width: 1440px) {
  body .cursor-inner-2 {
    height: 400px;
    width: 400px;
  }
}
body .cursor-inner-3 {
  position: absolute;
  display: none;
  height: 500px;
  width: 500px;
  background-image: url("/sean.f2f7f4e9.jpg");
  background-position: center center;
  background-size: cover;
}
@media (max-width: 1440px) {
  body .cursor-inner-3 {
    height: 400px;
    width: 400px;
  }
}
body .a-container {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}
@media (max-width: 900px) {
  body .a-container {
    width: 100vw;
  }
}
body .a-container .footer-wrapper {
  position: relative;
  width: 100%;
  height: 120.8541vw;
}
@media (max-width: 900px) {
  body .a-container .footer-wrapper {
    width: 100vw;
    height: 300vh;
  }
}
body .a-container .a-intro {
  font-size: 12px;
  line-height: 16px;
  font-family: "Gridnik";
  position: absolute;
  width: 9.77vw;
  left: 35.8645vw;
  top: 22.09375vw;
}
@media (max-width: 900px) {
  body .a-container .a-intro {
    top: 140vh;
    width: 35vw;
  }
}
@media (max-width: 1440px) {
  body .a-container .a-intro {
    width: 15vw;
  }
}
body .a-container .a-intro p {
  width: 100%;
}
body .a-container .a-cross {
  position: absolute;
  z-index: 90;
  top: 29.4791vw;
  left: 79.53125vw;
  width: 100px;
  height: 100px;
  transform-origin: top center;
  transform-style: preserve-3d;
}
@media (max-width: 900px) {
  body .a-container .a-cross {
    width: 40px;
    height: 40px;
    top: 20vh;
    left: 70vw;
  }
}
body .a-container .a-cross:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--c-fg);
  transform-style: preserve-3d;
}
body .a-container .a-cross:after {
  content: "";
  display: block;
  transform: rotate(90deg);
  width: 100%;
  height: 1px;
  background-color: var(--c-fg);
  transform-style: preserve-3d;
}
body .a-container .a-cross2 {
  position: absolute;
  z-index: 90;
  left: 25.3645vw;
  top: 108.645vw;
  width: 100px;
  height: 100px;
  transform-origin: top center;
  transform-style: preserve-3d;
}
@media (max-width: 900px) {
  body .a-container .a-cross2 {
    width: 40px;
    height: 40px;
    top: 170vh;
  }
}
body .a-container .a-cross2:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--c-fg);
  transform-style: preserve-3d;
}
body .a-container .a-cross2:after {
  content: "";
  display: block;
  transform: rotate(90deg);
  width: 100%;
  height: 1px;
  background-color: var(--c-fg);
  transform-style: preserve-3d;
}
body .a-container .a-title {
  font-family: Gridnik;
  position: absolute;
  top: 76.9791vw;
  width: 53.38541vw;
  left: 12.86458vw;
  font-size: 1.5625vw;
  line-height: 1;
}
@media (max-width: 900px) {
  body .a-container .a-title {
    width: calc(100vw - 80px);
    left: 40px;
    top: 200vh;
    font-size: 20px;
  }
}
body .a-container .a-content {
  font-family: Gridnik;
  position: absolute;
  left: 46.19791vw;
  top: 95.677vw;
  width: 20.052vw;
  font-size: 12px;
  line-height: 16px;
}
@media (max-width: 900px) {
  body .a-container .a-content {
    width: calc(100vw - 80px);
    left: 40px;
    top: 250vh;
    font-size: 14px;
    line-height: 20px;
  }
}
body .a-container .a-content p {
  width: 100%;
}
body .a-container .a-data {
  font-size: 15.625vw;
  font-family: Gridnik Medium;
  line-height: 15.625vw;
}
@media (max-width: 900px) {
  body .a-container .a-data {
    font-size: 140px;
    line-height: 140px;
  }
}
body .a-container .a-data-n1 {
  overflow: hidden;
  position: absolute;
  left: 12.8645vw;
  top: 16.302vw;
}
body .a-container .a-data-n1:hover {
  cursor: pointer;
}
@media (max-width: 900px) {
  body .a-container .a-data-n1 {
    top: 30vh;
    left: 40px;
  }
}
body .a-container .a-data-n1 span {
  display: block;
}
body .a-container .a-data-n2 {
  overflow: hidden;
  position: absolute;
  left: 50.3645vw;
  top: 34.6875vw;
}
@media (max-width: 900px) {
  body .a-container .a-data-n2 {
    top: 60vh;
    left: auto;
    right: 40px;
  }
}
body .a-container .a-data-n2:hover {
  cursor: pointer;
}
body .a-container .a-data-n2 span {
  display: block;
}
body .a-container .a-data-n3 {
  overflow: hidden;
  position: absolute;
  left: 29.53125vw;
  top: 53.0729vw;
}
body .a-container .a-data-n3:hover {
  cursor: pointer;
}
@media (max-width: 900px) {
  body .a-container .a-data-n3 {
    top: 90vh;
    left: 40px;
  }
}
body .a-container .a-data-n3 span {
  display: block;
}
body .p-container {
  position: relative;
  width: 100vw;
}
body .p-container .project-content {
  margin-top: 5.7291vw;
  padding-top: 5.7291vw;
  padding-bottom: 5.7291vw;
  margin-bottom: 5.7291vw;
  width: 100vw;
  background-color: white;
}
@media (max-width: 900px) {
  body .p-container .project-content {
    margin-top: 60px;
    width: calc(100vw - 80px);
    margin-left: 40px;
  }
}
body .p-container .project-content-img {
  overflow: hidden;
  height: auto;
  width: 74.21875vw;
  margin-left: 12.890625vw;
  margin-bottom: 2.03125vw;
}
body .p-container .project-content img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
body .p-container .project-content-video {
  overflow: hidden;
  width: 74.21875vw;
  margin-left: 12.890625vw;
  height: auto;
  margin-bottom: 2.03125vw;
}
body .p-container .project-content video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media (max-width: 900px) {
  body .p-container .project-header {
    width: calc(100vw - 80px);
  }
}
body .p-container .project-header .line {
  pointer-events: none;
  margin-bottom: 5.7291vw;
  height: 1px;
  background: var(--c-fg);
  width: 74.21875vw;
  transform: scaleX(0);
  transform-origin: left;
  margin-left: 12.890625vw;
}
@media (max-width: 900px) {
  body .p-container .project-header .line {
    margin-top: 5.7291vw;
  }
}
body .p-container .project-header .project-title {
  overflow: hidden;
  padding-top: 41.25vh;
  font-family: Gridnik;
  font-size: 12.5vw;
  line-height: 12.5vw;
  margin-left: 12.890625vw;
  width: 74.21875vw;
}
@media (max-width: 900px) {
  body .p-container .project-header .project-title {
    font-size: 50px;
    line-height: 50px;
    padding-top: 35vh;
  }
}
body .p-container .project-header .image-cover {
  width: 100vw;
  height: 95vh;
  overflow: hidden;
}
body .p-container .project-header .image-cover img {
  transform: scale(1.2);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
body .p-container .project-header .project-infos {
  position: relative;
  display: flex;
  font-size: 12px;
  line-height: 12px;
  font-family: "Gridnik";
  margin-left: 12.890625vw;
  margin-bottom: 5.7291vw;
  width: 74.21875vw;
}
@media (max-width: 900px) {
  body .p-container .project-header .project-infos {
    flex-direction: column;
  }
}
body .p-container .project-header .project-infos .date {
  width: 4.1666vw;
}
@media (max-width: 900px) {
  body .p-container .project-header .project-infos .date {
    width: 80vw;
    margin-bottom: 15px;
  }
}
body .p-container .project-header .project-infos .previous {
  position: absolute;
  right: 0;
}
body .p-container .project-header .project-infos .infos {
  margin-left: 16.6666vw;
  width: 28.385vw;
}
@media (max-width: 900px) {
  body .p-container .project-header .project-infos .infos {
    width: 80vw;
    margin-left: 0;
  }
}
body .p-container .project-header .project-infos .infos-title {
  margin-bottom: 2.03125vw;
}
@media (max-width: 900px) {
  body .p-container .project-header .project-infos .infos-title {
    margin-bottom: 15px;
  }
}
body .p-container .project-header .project-infos .infos-content {
  font-family: Suisse;
  font-size: 40px;
  line-height: 56px;
}
@media (max-width: 900px) {
  body .p-container .project-header .project-infos .infos-content {
    font-size: 30px;
    line-height: 45px;
  }
}
body .p-container .project-header .project-infos .infos-extra {
  margin-top: 2.03125vw;
  width: 20.052vw;
  font-family: Suisse;
  font-size: 0.875rem;
  line-height: 1.5rem;
}
@media (max-width: 900px) {
  body .p-container .project-header .project-infos .infos-extra {
    margin-top: 15px;
    width: 100%;
  }
}
body .p-container .project-header .project-infos .type {
  margin-left: 4.1666vw;
  width: 7.552vw;
}
@media (max-width: 900px) {
  body .p-container .project-header .project-infos .type {
    width: 80vw;
    margin-left: 0;
    margin-bottom: 15px;
  }
}
body .p-container .project-header .project-infos .number {
  margin-left: 4.94791vw;
  width: 4.1666vw;
}
@media (max-width: 900px) {
  body .p-container .project-header .project-infos .number {
    width: 80vw;
    margin-left: 0;
    margin-bottom: 80px;
  }
}
body .p-container .project-header .project-infos .number span {
  display: block;
}
body .p-container .project-description {
  margin-left: 12.890625vw;
  margin-bottom: 5.7291vw;
  margin-top: 5.7291vw;
  width: 74.21875vw;
  display: flex;
}
body .p-container .project-description .labels {
  font-size: 12px;
  line-height: 12px;
  margin-bottom: calc(2rem + 5px);
}
body .p-container .project-description .project-text {
  width: 28.38541vw;
}
body .p-container .project-description .project-text p {
  margin-top: 2rem;
  font-size: 26px;
  line-height: 34px;
}
body .p-container .project-description .project-roles {
  margin-left: 9.11458vw;
  width: 7.552vw;
  font-size: 14px;
  line-height: 18px;
}
body .p-container .project-description .project-roles span {
  display: block;
}
body .p-container .project-description .project-softwares {
  margin-left: 4.94791vw;
  width: 7.552vw;
  font-size: 14px;
  line-height: 18px;
}
body .p-container .project-description .project-softwares span {
  display: block;
}
body .p-container .project-description .project-links {
  margin-left: 4.94791vw;
  width: 7.552vw;
  font-size: 14px;
  line-height: 18px;
}
body .p-container .project-description .project-links span {
  display: block;
}
body .p-container .project-description .project-links a {
  display: inline-block;
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.c-scrollbar {
  display: none;
  position: absolute;
  right: 4.53125vw;
  bottom: 50px;
  width: 1px;
  height: 5vw;
  background-color: white;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 1;
}
.c-scrollbar:before {
  content: "";
  width: 10px;
  height: 1px;
  position: absolute;
  top: 0;
  background-color: white;
  transform: translateX(-100%);
}
.c-scrollbar:after {
  content: "";
  width: 10px;
  height: 1px;
  position: absolute;
  bottom: 0;
  background-color: white;
  transform: translateX(-100%);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5px;
  height: 0;
  width: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 7px solid white;
}

/*# sourceMappingURL=/style.6d80b553.css.map */