@font-face {
	font-family: 'Gridnik';
	src: url('./FoundryGridnik-Regular.woff') format('WOFF')
}

@font-face {
	font-family: 'Gridnik Medium';
	src: url('./FoundryGridnik-Medium.woff') format('WOFF')
}