$c-set-bg: #000000;
$c-set-fg: #FFFFFF;

:root {
  --c-bg: #{$c-set-bg};
  --c-fg: #{$c-set-fg};
}

$c-bg: var(--c-bg);
$c-fg: var(--c-fg);

@mixin mobile {
  @media (max-width: 900px) { @content; }
}

@mixin xs {
  @media (max-width: 600px) { @content; }
}

@mixin medium {
  @media (max-width: 1300px) { @content; }
}

@mixin laptop {
  @media (max-width: 1440px) and (min-width: 900px) { @content; }
}

@mixin lowHeight {
  @media (max-height: 667px) { @content; }
}

$ease-out: cubic-bezier(.165,.84,.44,1);
$size: 12px;
$border: #1D1D1D;

$font-main: 'Gridnik';
$font-med: 'Gridnik Medium';

.dark-mode {
  --c-bg: #{$c-set-fg};
  --c-fg: #{$c-set-bg};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  margin: 0;
  font-family: $font-main, sans-serif;
  font-kerning: none;
  background-color: $c-bg;
  color: $c-fg;

  .container {
    position: relative;
    width: 100vw;
  }

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 200;

    .loading {

      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      

      &-square1 {
        width: 5px;
        height: 5px;
        opacity: 0;
        background-color: $c-fg;
        animation: square1 2s $ease-out infinite 3s;
      }

      @keyframes square1 {
        0% {
          opacity: 0;
        }
        5% {
          opacity: 1;
        }
      }

      @keyframes square2 {
        5% {
          opacity: 0;
        }
        10% {
          opacity: 1;
        }
      }

      @keyframes square3 {
        10% {
          opacity: 0;
        }
        15% {
          opacity: 1;
        }
      }

      &-square2 {
        width: 5px;
        height: 5px;
        margin-left: 15px;
        background-color: $c-fg;
        opacity: 0;
        animation: square2 2s $ease-out infinite 3s;
      }

      &-square3 {
        width: 5px;
        height: 5px;
        opacity: 0;
        margin-left: 15px;
        animation: square3 2s $ease-out infinite 3s;
        background-color: $c-fg;
      }
    }
  }

  .return {
    margin-bottom: 1rem;

    @include mobile {
      margin-bottom: 0.75rem;
    }
  }

  a,
  button.is-a {
    text-transform: uppercase;
    text-decoration: none;
    color: currentColor;
    background: none;
    border: none;
    padding: 0;
    display: inline-block;

    &:after {
      content: '';
      display: block;
      margin-top: 1px;
      height: 1px;
      width: 100%;
      opacity: 0;
      transform: scaleX(1);
      transform-origin: left;
      background-color: currentColor;
    }

    &:hover::after {
      animation: opacity 0.6s $ease-out forwards;
    }

    @keyframes opacity {
      0% {
        opacity: 0;
      }
      1% {
        opacity: 1;
      }
      10% {
        opacity: 1;
      }
      11% {
        opacity: 0;
      }
      19% {
        opacity: 0;
      }
      20% {
        opacity: 0.2;
      }
      100% {
        opacity: 1;
      }

    }

    &:focus {
      outline: none;
    }

    &:hover{
      cursor: pointer;
    }
  }

  .a-hide {
    display: block;
    &:after {
      display: none;
    }
  }

  header {
    pointer-events: none;
    width: 100vw;
    position: fixed;
    z-index: 100;
    font-family: $font-main;
    text-transform: uppercase;
    font-size: $size;
    margin-top: 50px;
    mix-blend-mode: difference;

    @include mobile {
      margin-top: 40px;
    }

    .logo {
      position: absolute;
      z-index: 120;
      left: 0;
      pointer-events: all;
      margin-left: 4.53125vw;

      @include mobile {
        margin-left: 40px;
      }
    }

    .about {
      position: absolute;
      z-index: 120;
      right: 0;
      pointer-events: all;
      margin-right: 17.083vw;

      @include mobile {
        margin-right: 40px;
      }
    }

    .dark {
      position: absolute;
      right: 0;
      z-index: 120;
      pointer-events: all;
      margin-right: 8.0209vw;

      @include mobile {
        display: none;
      }
    }

    .line {
      position: absolute;
      right: 0;
      margin-right: 4.583vw;
      transform-origin: left;
      margin-top: 5px;
      width: 25px;
      height: 1px;
      transform: scaleX(1);
      background-color: $c-fg;
      @include mobile {
        display: none;
      }
    }
  }

  footer {
    width: 100vw;
    bottom: 0;
    z-index: 100;
    font-size: $size;
    padding-bottom: 50px;
    mix-blend-mode: difference;
    display: flex;
    align-items: center;

    @include mobile {
      padding-bottom: 40px;
      padding-top: 40px;
      border-top: 1px solid $border;
    }

    .logo {
      margin-left: 4.53125vw;

      @include mobile {
        display: none;
      }
    }

    .scrollUp {
      position: absolute;
      right: 0;
      margin-right: 4.583vw;

      @include mobile {
        display: none;
      }
    }

    ul {
      margin-left: 4.53125vw;
    }

    li {
      list-style: none;
      display: inline-block;
      margin-left: 20px;

      @include mobile {
        padding: 5px;
      }

      a {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .transition {
    // pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    transform-origin: bottom center;
    opacity: 1;
    z-index: 120;
    overflow:hidden;
    clip: rect(100vh 100vw 100vh 0vh);

    &-plane {
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      background-color: black;
      transform: scaleY(0);
      transform-origin: bottom;
    }

    &-flex {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;

      span {
        white-space: nowrap;
      }
    }

    &-wrapper {
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
    }

    span {
      display: block;
      margin-top: 6vw;
      font-size: 50vw;
      color: black;
      font-family: $font-med;
    }

  }

  .i-container {
    position: relative;
    width: 100%;
    overflow-x: hidden;

    @include mobile {
      width: 100vw;
    }

    .footer-wrapper {
      position: relative;
      width: 100%;
      height: 300vw;

      @include mobile {
        height: 490vh;
      }

      @include lowHeight {
        height: 550vh;
      }
    }
    .main-project {

      width: 100vw;
      height: max-content;

      &-text {
        font-size: $size;
        line-height: 1rem;
        font-family: $font-main;
        position: absolute;
        left: 17.03125vw;
        top: 22.1875vw;

        @include mobile {
          top: 50vh;
          left: 50vw;
        }

        span {
          display: block;
        }
      }

      .cross {
        position: absolute;
        z-index: 90;
        top: 48.302vw;
        left: 25.3645vw;
        width: 100px;
        height: 100px;
        transform-origin: top center;
        transform-style: preserve-3d;

        @include mobile {
          width: 40px;
          height: 40px;
        }

        &:before {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: $c-fg;
          transform-style: preserve-3d;
        }

        &:after {
          content: "";
          display: block;
          transform: rotate(90deg);
          width: 100%;
          height: 1px;
          background-color: $c-fg;
          transform-style: preserve-3d;
        }
      }

      &-img {
        position: absolute;
        right: 0;
        overflow: hidden;
        top: 20.3125vw;
        width: 57.96875vw;
        height: 64.4270vw;
        transform-origin: top;

        @include mobile {
          width: 100vw;
          height: 100vh;
          top: 80vh;
          right: -20vw;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    .description {
      top: 78.125vw;
      position: absolute;
      margin-left: 12.8645vw;
      width: 74.21875vw;
      height: max-content;

      @include mobile {
        top: 160vh;
        width: calc(100vw - 80px);
        margin-left: 40px;
      }

        .line {
          position: relative;
          pointer-events: none;
          font-family: Suisse Mono Thin;
          letter-spacing: -0.15362vw;
          margin-bottom: 2.1041vw;
          font-size: 0.7346vw;
          width: 74.21875vw;
          overflow: hidden;
          height: 20px;

          span {
            position: absolute;
            top: 0;
            white-space: nowrap;
            left: 0;
          }

          @include mobile {
            display: none;
          }
        }

        .line2 {
          position: relative;
          pointer-events: none;
          font-family: Suisse Mono Thin;
          letter-spacing: -0.15362vw;
          margin-top: 1.6666vw;
          font-size: 0.7346vw;
          width: 74.21875vw;
          overflow: hidden;
          height: 20px;

          span {
            position: absolute;
            top: 0;
            left: 0;
            white-space: nowrap;
          }


          @include mobile {
            display: none;
          }
        }

      &-text {
        font-size: 11vw;
        line-height: 11vw;
        height: 100%;
        text-transform: uppercase;
        position: relative;
        font-family: $font-med;
        cursor: default;

        @include mobile {
          font-size: 60px;
          line-height: 60px;

          &:before {
            content: '';
            position: absolute;
            top: -25px;
            height: 1px;
            width: 100%;
            background-color: white;
          }
        }

        span {
          cursor: default;
          display: block;
        }

        .wrapper {
          overflow: hidden;
        }

        &-last {
          position: relative;
          display: inline-block !important;
        }

        .internship {
          margin-top: 22px;
          position: absolute;
          transform: translateX(108%);
          top: 0;
          right: 0;
          font-size: $size;
          line-height: 1.4;
          font-family: $font-main;
          width: 9.71875vw;

          @include mobile {
            display: none;
          }

          @include medium {
            margin-top: 5px;
            width: 20vw;
          }
        }
      }
    }

    .projects {
      width: 100vw;
      height: 107.239vw;
      position: absolute;
      top: 141.5625vw;
      border-top: solid 1px $border;
      border-bottom: solid 1px $border;

      @include mobile {
        top: 220vh;
        width: 100vw;
        height: auto;
      }

      @include lowHeight {
        top: 230vh;
        width: 100vw;
        height: auto;
      }

      .grid {

        width: 100%;
        height: 100%;

        @include mobile {
          width: 100%;
        }

        .project, .archive {

          position: relative;

          &-img {
            width: 100%;
            height: 100%;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: transform 0.6s $ease-out;
            }
          }
        }

        .project {

          &:hover {
            img {
              transform: scale(1.1) rotate(3deg);
            }
          }

          &-text {
            font-size: $size;
            line-height: 1rem;
            font-family: $font-main;
            mix-blend-mode: difference;
            position: absolute;
            bottom: 4vw;
            left: 4vw;
            z-index: 20;
            pointer-events: none;

            @include mobile {
              display: none;
            }

            span {
              display: block;
            }
          }

          a {
            width: 100%;
            height: 100%;
          }
        }

        .archive {

          &:hover {
            img {
              transform: scale(1.1) rotate(3deg);
            }
          }
          
          &-text {
            font-size: $size;
            line-height: 1rem;
            font-family: $font-main;
            mix-blend-mode: difference;
            position: absolute;
            left: 0;
            top: -2vw;
            z-index: 20;
            pointer-events: none;

            @include mobile {
              top: -20px;
            }

            span {
              display: block;
            }
          }

          a {
            width: 100%;
            height: 100%;
          }
        }

        &-l1 {
          width: 100%;
          height: 32%;
          display: flex;

          @include mobile {
            height: auto;
            border-bottom: 1px solid $border;
          }

          .white-space {
            width: 21.25%;
            height: 100%;

            @include mobile {
              display: none;
            }
          }

          .content {
            width: 78.75%;
            height: 100%;
            border-bottom: 1px solid $border;
            border-left: 1px solid $border;

            @include mobile {
              width: calc(100% - 80px);
              margin-left: 40px;
              margin-top: 40px;
              margin-bottom: 40px;
              border: none;
            }

            .project {
              width: 36.71875vw;
              height: 100%;
              position: relative;

              @include mobile {
                width: 100%;
              }

              &:before {
                content: '02';
                font-size: $size;
                position: absolute;
                top: 4vw;
                transform: translateX(100%);
                right: -4vw;
                text-align: left;

                @include mobile {
                  top: 0;
                }
              }

              &:after {
                content: '(INITIAL)';
                font-size: $size;
                position: absolute;
                bottom: 4vw;
                right: -4vw;
                transform: translateX(100%);
                text-align: right;

                @include mobile {
                  display: none;
                }
              }

              img {
                object-position: top;
              }
            }
          }
        }

        &-l2 {
          width: 100%;
          height: 34%;
          display: flex;

          @include mobile {
            height: auto;
            border-bottom: 1px solid $border;
          }

          .white-space {
            width: 21.25%;
            height: 100%;
            border-bottom: 1px solid $border;

            @include mobile {
              display: none;
            }
          }

          .data {
            float: left;
            font-size: $size;
            position: relative;
            height: 100%;
            width: 40%;

            @include mobile {
              display: none;
            }

            &-l1 {
              position: absolute;
              display: block;
              top: 4vw;
              left: 4vw;
            }

            &-l2 {
              position: absolute;
              display: block;
              bottom: 4vw;
              left: 4vw;
            }
          }

          .content {
            width: 78.75%;
            height: 100%;
            border-bottom: 1px solid $border;
            border-left: 1px solid $border;

            @include mobile {
              width: calc(100% - 80px);
              margin-left: 40px;
              margin-top: 40px;
              margin-bottom: 40px;
              border: none;
            }

            .project {
              float: right;
              width: 28.802vw;
              height: 100%;
              position: relative;

              @include mobile {
                width: 100%;
              }

              &:before {
                content: '03';
                font-size: $size;
                position: absolute;
                top: 4vw;
                transform: translateX(-100%);
                left: -4vw;
                text-align: left;

                @include mobile {
                  top: 0;
                }
              }
            }
          }
        }

        &-l3 {
          width: 100%;
          height: 34%;

          .content {
            width: 100%;
            height: 100%;

            @include mobile {
              width: calc(100% - 80px);
              margin-left: 40px;
              margin-top: 40px;
              margin-bottom: 40px;
              border: none;
            }

            position: relative;

            .project {
              display: inline-block;
              width: 37.08vw;
              height: 100%;

              @include mobile {
                width: 100%;
                height: auto;
              }

              &:before {
                content: '04';
                font-size: $size;
                position: absolute;
                top: 4vw;
                transform: translateX(100%);
                right: -4vw;
                text-align: left;

                @include mobile {
                  top: 0;
                }
              }

              &:after {
                content: 'R011';
                font-size: $size;
                position: absolute;
                bottom: 4vw;
                right: -4vw;
                transform: translateX(100%);
                text-align: right;

                @include mobile {
                  display: none;
                }
              }

              img {
                object-position: top;
              }
            }

            .archive {
              position: absolute;
              right: 0;
              bottom: 0;
              width: 24.21875vw;
              height: 50%;
              margin-right: 8.80vw;
              
              @include mobile {
                position: relative;
                width: 50%;
                height: 50%;
                margin-top: 40px;
              }
            }
          }
        }
      }


      .cross {
        position: absolute;
        z-index: 90;
        top: 15.2395vw;
        left: 8.1458vw;
        width: 100px;
        height: 100px;
        transform-origin: top center;
        transform-style: preserve-3d;

        @include mobile {
          display: none;
        }

        &:before {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: $c-fg;
          transform-style: preserve-3d;
        }

        &:after {
          content: "";
          display: block;
          transform: rotate(90deg);
          width: 100%;
          height: 1px;
          background-color: $c-fg;
          transform-style: preserve-3d;
        }
      }
    }

    .last-container {
      position: absolute;
      top: 263.03vw;
      width: 100vw;
      height: 32.4791vw;
      font-size: $size;
      line-height: 1rem;
      font-family: $font-main;

      @include mobile {
        top: 450vh;
      }

      @include lowHeight {
        top: 500vh;
      }

      .cross {
        position: absolute;
        z-index: 90;
        top: 0;
        left: 17.03125vw;
        width: 100px;
        height: 100px;
        transform-origin: top center;
        transform-style: preserve-3d;

        @include mobile {
          width: 40px;
          height: 40px;
        }

        &:before {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: $c-fg;
          transform-style: preserve-3d;
        }

        &:after {
          content: "";
          display: block;
          transform: rotate(90deg);
          width: 100%;
          height: 1px;
          background-color: $c-fg;
          transform-style: preserve-3d;
        }
      }

      p {

        @include medium {
          width: 30vw;
        }

        position: absolute;
        left: 37.8645vw;
        top: 15.6875vw;
        width: 7.552vw;
        display: block;
      }
    }
  }

    .cursor {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vw;
      pointer-events: none;
      @include mobile {
        display: none;
      }
      

      &-wrapper {
        pointer-events: none;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      }

      &-inner-1 {
        display: none;
        height: 500px;
        width: 500px;
        background-position: center center;
        background-size: cover;
      }

      &-inner-2 {
        position: relative;
        display: none;
        height: 500px;
        width: 500px;
        background-image: url('/src/assets/images/91M.gif');
        background-position: center center;
        background-size: cover;

        &:after {
          content: 'Minutes uploaded on SoundCloud';
          text-transform: uppercase;
          display: block;
          position: absolute;
          width: auto;
          height: auto;
          bottom: -1vw;
          left: 0;
          font-family: Gridnik;
          font-size: 10px;
          line-height: 10px;
        }
      }

      &-inner-3 {
        position: relative;
        display: none;
        height: 500px;
        width: 500px;
        background-image: url('/src/assets/images/sean_2.jpg');
        background-position: center center;
        background-size: cover;

        &:after {
          content: 'INTO SEAN LEON - THE CITY I & II';
          text-transform: uppercase;
          display: block;
          position: absolute;
          width: auto;
          height: auto;
          bottom: -1vw;
          left: 0;
          font-family: Gridnik;
          font-size: 10px;
          line-height: 10px;
        }

        @include laptop {
          height: 400px;
          width: 400px;
        }
      }
    }

.a-container {
    position: relative;
    width: 100vw;
    overflow-x: hidden;

    @include mobile {
      width: 100vw;
    }

    .footer-wrapper {
      position: relative;
      width: 100%;
      height: 140.8541vw;

      @include mobile {
        width: 100vw;
        height: 300vh;
      }

      @include lowHeight {
        height: 310vh;
      }
    }

    .a-intro {
      font-size: $size;
      line-height: 16px;
      font-family: Suisse;
      position: absolute;
      width: 9.77vw;
      left: 35.8645vw;
      top: 22.09375vw;

      @include mobile {
        top: 140vh;
        width: 35vw;
      }

      @include laptop {
        width: 15vw;
      }

      p {
        width: 100%;
      }
    }


    .a-cross {
      position: absolute;
      z-index: 90;
      top: 29.4791vw;
      left: 79.53125vw;
      width: 100px;
      height: 100px;
      transform-origin: top center;
      transform-style: preserve-3d;

      @include mobile {
        width: 40px;
        height: 40px;
        top: 20vh;
        left: 70vw;
      }

      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: $c-fg;
        transform-style: preserve-3d;
      }

      &:after {
        content: "";
        display: block;
        transform: rotate(90deg);
        width: 100%;
        height: 1px;
        background-color: $c-fg;
        transform-style: preserve-3d;
      }
    }

    .a-cross2 {
      position: absolute;
      z-index: 90;
      left: 25.3645vw;
      top: 118.645vw;
      width: 100px;
      height: 100px;
      transform-origin: top center;
      transform-style: preserve-3d;

      @include mobile {
        width: 40px;
        height: 40px;
        top: 170vh;
      }

      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: $c-fg;
        transform-style: preserve-3d;
      }

      &:after {
        content: "";
        display: block;
        transform: rotate(90deg);
        width: 100%;
        height: 1px;
        background-color: $c-fg;
        transform-style: preserve-3d;
      }
    }

    .a-title {
      font-family: Suisse;
      position: absolute;
      top: 76.9791vw;
      width: 49.21875vw;;
      left: 12.86458vw;
      font-size: 25px;

      a {
        text-transform: none;

        &:hover {
          text-decoration: none;
        }

        &:after {
          content: '';
          display: block;
          margin-top: 0px;
          height: 1px;
          width: 100%;
          opacity: 1;
          transform: scaleX(1);
          transform-origin: left;
          background-color: currentColor;
        }
      }
      

      h1 {
        font-weight: 400;
        font-size: 3.125vw;
        line-height: 1.25;

        @include mobile {
          font-size: 35px;
        }
      }

      @include mobile {
        width: calc(100vw - 80px);
        left: 40px;
        top: 200.5vh;
        font-size: 20px;
      }

      @include lowHeight {
        top: 190.5vh;
      }
    }

    .a-content {
      font-family: Suisse;
      position: absolute;
      left: 46.19791vw;
      top: 107.677vw;
      width: 20.052vw;
      font-size: 12px;
      line-height: 16px;

      @include mobile {
        width: calc(100vw - 80px);
        left: 40px;
        top: 255vh;
        font-size: 14px;
        line-height: 20px;
      }

      @include lowHeight {
        top: 257vh;
      }

      p {
        margin-top: 1rem;
        width: 100%;
      }
    }

    .a-data {
      font-size: 15.625vw;
      font-family: $font-med;
      line-height: 15.625vw;

      @include mobile {
        font-size: 140px;
        line-height: 140px;
      }

      &-n1 {
        overflow: hidden;
        position: absolute;
        left: 12.8645vw;
        top: 16.302vw;

        &:hover {
          cursor: pointer;
        }

        @include mobile {
          top: 30vh;
          left: 40px;
        }

        span {
          display: block;
        }
      }

      &-n2 {
        overflow: hidden;
        position: absolute;
        left: 50.3645vw;
        top: 34.6875vw;

        @include mobile {
          top: 60vh;
          left: auto;
          right: 40px;
        }

        &:hover {
          cursor: pointer;
        }

        span {
          display: block;
        }
      }

      &-n3 {
        overflow: hidden;
        position: absolute;
        left: 29.53125vw;
        top: 53.0729vw;

        &:hover {
          cursor: pointer;
        }

        @include mobile {
          top: 90vh;
          left: 40px;
        }

        span {
          display: block;
        }
      }
    }
  }

  .p-container {
    position: relative;
    width: 100vw;

    .next-project {
      margin-left: 12.890625vw;
      width: 74.21875vw;
      margin-bottom: 5.7291vw;

      .number {
        margin-top: 22px;
        position: absolute;
        transform: translateX(108%);
        top: 0;
        right: 0;
        font-size: $size;
        line-height: 1.4;
        font-family: $font-main;
        width: 9.71875vw;

        @include mobile {
          display: none;
        }

        @include medium {
          margin-top: 5px;
          width: 20vw;
        }
      }

      &:hover {
        cursor: pointer;
      }
      span {
        display: block;
        font-size: 12.5vw;
        line-height: 12.5vw;
      }
    }


    .project-songs {
      margin-top: 5.7291vw;
      margin-left: 12.890625vw;
      width: 74.21875vw;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 12px;

      @include mobile {
        margin-top: 40px;
        width: calc(100vw - 80px);
        margin-left: 40px;
      }

      &:hover {
        .song-index, .song-title, .song-duration, .song-play {
          opacity: .4;
        }
      }

      a:nth-child(1) {
        margin-top: 15px;
        border-top: 1px solid $border;
      }

      a {
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
        border-bottom: 1px solid $border;

        &:hover {
          cursor: pointer;
          .song-index, .song-title, .song-duration, .song-play {
            opacity: 1 !important;
          }
        }
      }

      .song {
        display: flex;

        &-index {
          width: 16.8421%;
          @include mobile {
            width: 20%;
          }
        }

        &-title {
          width: 22.45614%;
          @include mobile {
            width: 50%;
          }
        }

        &-duration {
          width: 55.0877%;
          @include mobile {
            display: none;
          }
        }

        &-play {
          width: 5.614%;
          text-align: right;
          @include mobile {
            width: 30%;
          }
        }
      }
    }

    .project-content {
      margin-top: 5.7291vw;
      // padding-top: 5.7291vw;
      // padding-bottom: 5.7291vw;
      // margin-bottom: 5.7291vw;
      width: 100vw;
      height: auto;

      .cross {
        top: 80%;
        right: 7%;
      }

      .cross {
        position: absolute;
        z-index: 90;
        width: 100px;
        height: 100px;
        transform-origin: top center;
        transform-style: preserve-3d;
        mix-blend-mode: difference;

        @include mobile {
          width: 40px;
          height: 40px;
        }

        &:before {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: $c-fg;
          transform-style: preserve-3d;
        }

        &:after {
          content: "";
          display: block;
          transform: rotate(90deg);
          width: 100%;
          height: 1px;
          background-color: $c-fg;
          transform-style: preserve-3d;
        }
      }

      @include mobile {
        margin-top: 40px;
      }

      .lines {
        white-space: nowrap; 
      }

      .underline {
        position: relative;
        display: inline-block;
        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: white;
          bottom: 0;
        }
      }

      &-text {
        padding-top: 5.7291vw;
        padding-bottom: 5.7291vw;
        width: 49.21875vw;
        margin-left: 25.390625vw;
        font-family: Suisse;
        font-size: 3.125vw;
        line-height: 1.25;

        @include mobile {
          padding-top: 40px;
          padding-bottom: 40px;
          margin-left: 40px;
          margin-bottom: 40px;
          width: calc(100vw - 80px);
          font-size: 26px;
          line-height: 34px;
        }
      }

      .bg {
        width: 100vw;
        padding-top: 5.7291vw;
        padding-bottom: 5.7291vw;
        height: 110vh;
        background-color: white;

        video {
          margin-left: 12.890625vw;
          width: 74.21875vw;
        }

        img {
          margin-left: 12.890625vw;
          width: 74.21875vw;
        }
      }

      .big {
        width: 100vw;
        height: 110vh;
        margin-top: 5.7291vw;
        margin-bottom: 5.7291vw;
        overflow: hidden;
        img {
          transform: scale(1.1);
        }
      }

      .med {
        width: 74.21875vw;
        margin-left: 12.890625vw;
        margin-top: 5.7291vw;
        margin-bottom: 5.7291vw;
        height: 41.77vw;

        @include mobile {
          width: 100vw;
          margin-left: 0;
          height: 50vh;
          margin-top: 40px;
          margin-bottom: 40px;
        }
      }

      .full {
        height: fit-content;
        width: 74.21875vw;
        margin-left: 12.890625vw;
        margin-top: 5.7291vw;
        margin-bottom: 5.7291vw;

        @include mobile {
          width: 100vw;
          margin-left: 0;
          margin-top: 40px;
          margin-bottom: 40px;
        }
      }

      .small {
        width: 49.166vw;
        margin-left: 25.417vw;
        margin-top: 5.7291vw;
        margin-bottom: 5.7291vw;
        height: auto;

        @include mobile {
          width: calc(100vw - 80px);
          margin-left: 40px;
          margin-top: 40px;
          margin-bottom: 40px;
        }
      }

      &-img {
        position: relative;
        overflow: hidden;
        height: auto;

        span {
          position: absolute;
          bottom: 2vw;
          left: 2vw;
          display: block;
          margin-top: 5px;
          text-transform: uppercase;
          font-family: Gridnik;
          font-size: 12px;
          line-height: 12px;

          @include mobile {
            display: none;
          }
        }
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      &-video {
        overflow: hidden;
        height: auto;
      }

      video {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .project-header {

      @include mobile {
        width: 100vw;
      }

      .line {
        pointer-events: none;
        margin-bottom: 5.7291vw;
        height: 1px;
        background: $c-fg;
        width: 74.21875vw;
        transform: scaleX(0);
        transform-origin: left;
        margin-left: 12.890625vw;

        @include mobile {
          width: calc(100vw - 80px);
          margin-top: 5.7291vw;
          margin-left: 40px;
        }
      }

      .project-title {
        overflow: hidden;
        padding-top: 41.25vh;
        font-family: $font-main;
        font-size: 12.5vw;
        line-height: 12.5vw;
        margin-left: 12.890625vw;
        width: 74.21875vw;

        @include mobile {
          font-size: 50px;
          line-height: 50px;
          padding-top: 35vh;
          margin-left: 40px;
          width: calc(100vw - 80px);
        }
      }

      .image-cover {
        width: 100vw;
        height: 95vh;
        overflow: hidden;

        img {
          transform: scale(1.2);
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .project-infos {
        position: relative;
        display: flex;
        font-size: $size;
        line-height: 12px;
        font-family: $font-main;
        margin-left: 12.890625vw;
        margin-bottom: 5.7291vw;
        width: 74.21875vw;

        @include mobile {
          width: calc(100vw - 80px);
          margin-left: 40px;
          flex-direction: column;
          margin-bottom: 80px;
        }

        .date {
          width: 4.1666vw;
          @include mobile {
            width: 80vw;
            margin-bottom: 15px;
          }
        }

        .previous {
          position: absolute;
          right: 0;
        }

        .infos {
          margin-left: 16.6666vw;
          width: 28.385vw;

          @include mobile {
            width: 80vw;
            margin-left: 0;
          }

          &-title {
            margin-bottom: 2.03125vw;

            @include mobile {
              margin-bottom: 15px;
            }
          }
        }

        .type {
          margin-left: 4.1666vw;
          width: 7.552vw;

          @include mobile {
            width: 80vw;
            margin-left: 0;
            margin-bottom: 15px;
          }
        }

        .number {
          margin-left: 4.94791vw;
          width: 4.1666vw;

          @include mobile {
            width: 80vw;
            margin-left: 0;
          }

          span {
            display: block;
          }
        }
      }
    }

    .project-description {
      padding-left: 12.890625vw;
      padding-bottom: 5.7291vw;
      padding-top: 5.7291vw;
      width: 100vw;
      display: flex;
      border-bottom: solid 1px $border;


      a {
        text-transform: none;

        &:hover {
          text-decoration: none;
        }

        &:after {
          content: '';
          display: block;
          margin-top: 0px;
          height: 1px;
          width: 100%;
          opacity: 1;
          transform: scaleX(1);
          transform-origin: left;
          background-color: currentColor;
          @include mobile {
            display: none;
          }
        }
      }

      @include mobile {
        display: block;
        padding-left: 0;
        padding-bottom: 0;
        margin-top: 80px;
      }

      .labels {
        font-family: $font-main !important;
        font-size: $size;
        line-height: 12px;
        margin-bottom: calc(2rem + 5px);

        @include mobile {
          margin-bottom: 15px;
        }
      }

      .project-text {
        width: 28.38541vw;

        @include mobile {
          width: calc(100vw - 80px);
          margin-left: 40px;
        }

        p {
          font-family: Suisse;
          margin-top: 2rem;
          font-size: 26px;
          line-height: 34px;

          @include mobile {
            margin-top: 30px;
          }
        }
      }

      .project-roles {
        margin-left: 9.11458vw;
        width: 7.552vw;
        font-size: $size;
        line-height: 18px;

        @include mobile {
          margin-left: 0;
          display: inline-block;
          margin-top: 40px;
          margin-left: 40px;
          width: calc(50vw - 40px)
        }

        span {
          font-family: Suisse;
          display: block;
        }
      }

      .project-softwares {
        margin-left: 4.94791vw;
        width: 7.552vw;
        font-size: $size;
        line-height: 18px;

        @include mobile {
          margin-left: 0;
          display: inline-block;
          vertical-align:top;
          margin-top: 40px;
          width: calc(50vw - 40px)
        }

        span {
          font-family: Suisse;
          display: block;
        }
      }

      .project-links {
        margin-left: 4.94791vw;
        width: 7.552vw;
        font-size: $size;
        line-height: 18px;

        @include mobile {
          margin-left: 40px;
          margin-top: 40px;
          margin-bottom: 40px;
          width: calc(100vw - 40px)
        }

        span {
          display: block;
        }

        a {
          font-family: Suisse;
          display: inline-block;

          @include mobile {
            text-decoration: underline;
            display: block;
            padding-top: 5px;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
}

/*! locomotive-scroll v3.5.4 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden; }

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }

.c-scrollbar {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100vh;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 1; }

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  opacity: 1;
  width: 1px;
  height: 100%;
  cursor: -webkit-grab;
  cursor: grab; }
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing; }