$c-set-bg: #000000;
$c-set-fg: #FFFFFF;

:root {
  --c-bg: #{$c-set-bg};
  --c-fg: #{$c-set-fg};
}

$c-bg: var(--c-bg);
$c-fg: var(--c-fg);

$ease-out: cubic-bezier(.165, .84, .44, 1);

@mixin mobile {
  @media (max-width: 1100px) { @content; }
}

@mixin xs {
  @media (max-width: 600px) { @content; }
}

@mixin xl {
  @media (min-width: 1920px) { @content; }
}

$ease-out: cubic-bezier(.165, .84, .44, 1);

.dark-mode {
  --c-bg: #{$c-set-fg};
  --c-fg: #{$c-set-bg};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Gridnik', sans-serif;
  font-kerning: none;
  background-color: $c-bg;
  color: $c-fg;

  .container {
    position: relative;
    width: 100vw;
  }

  .return {
    margin-bottom: 1rem;
  }


  a,
  button.is-a {
    text-transform: uppercase;
    text-decoration: none;
    color: currentColor;
    background: none;
    border: none;
    padding: 0;
    display: inline-block;

    &:after {
      content: '';
      display: block;
      margin-top: 3px;
      height: 1px;
      width: 100%;
      transform: scaleX(0);
      transform-origin: left;
      background-color: currentColor;
      transition: transform .6s $ease-out;
    }

    &:hover::after {
      transform: scaleX(1);
    }

    &:focus {
      outline: none;
    }

    &:hover{
      cursor: pointer;
    }
  }

  header {
    pointer-events: none;
    width: 100vw;
    position: fixed;
    z-index: 100;
    font-family: 'Gridnik';
    text-transform: uppercase;
    font-size: 0.6875rem;
    margin-top: 50px;
    mix-blend-mode: difference;

    .logo {
      position: absolute;
      z-index: 120;
      left: 0;
      pointer-events: all;
      margin-left: 4.53125vw;
    }

    .about {
      position: absolute;
      z-index: 120;
      right: 0;
      pointer-events: all;
      margin-right: 17.083vw;
    }

    .dark {
      position: absolute;
      right: 0;
      z-index: 120;
      pointer-events: all;
      margin-right: 8.0209vw;
    }

    .line {
      position: absolute;
      right: 0;
      margin-right: 4.583vw;
      transform-origin: left;
      margin-top: 7px;
      width: 25px;
      height: 1px;
      transform: scaleX(1);
      background-color: $c-fg;
    }
  }

  footer {
    pointer-events: none;
    width: 100vw;
    bottom: 0;
    z-index: 100;
    font-size: 0.6875rem;
    padding-bottom: 50px;
    mix-blend-mode: difference;
    display: flex;
    align-items: center;

    .logo {
      margin-left: 4.53125vw;
    }

    .scrollUp {
      position: absolute;
      right: 0;
      margin-right: 4.583vw;
    }

    ul {
      margin-left: 4.53125vw;
    }

    li {
      list-style: none;
      display: inline-block;
      margin-left: 20px;

      a {
        &:hover {
          cursor: pointer;
        }
      }
    }

    .loading {

      left: 0;
      margin-left: 4.53125vw;

      &-square1 {
        width: 5px;
        height: 5px;
        margin-bottom: 15px;
        opacity: 0;
        background-color: $c-fg;
        animation: square1 2s $ease-out infinite 3s;
      }

      // @keyframes square1 {
      //   0% {
      //     opacity: 0;
      //   }
      //   5% {
      //     opacity: 1;
      //   }
      // }

      // @keyframes square2 {
      //   5% {
      //     opacity: 0;
      //   }
      //   10% {
      //     opacity: 1;
      //   }
      // }

      // @keyframes square3 {
      //   10% {
      //     opacity: 0;
      //   }
      //   15% {
      //     opacity: 1;
      //   }
      // }

      &-square2 {
        width: 5px;
        height: 5px;
        margin-bottom: 15px;
        background-color: $c-fg;
        opacity: 0;
        animation: square2 2s $ease-out infinite 3s;
      }

      &-square3 {
        width: 5px;
        height: 5px;
        opacity: 0;
        animation: square3 2s $ease-out infinite 3s;
        background-color: $c-fg;
      }
    }
  }

  .i-container {
    position: relative;
    width: 100%;
    .footer-wrapper {
      position: relative;
      width: 100%;
      height: 284.4791vw;
    }
    .main-project {

      width: 100vw;
      height: max-content;

      &-text {
        font-size: 0.6875rem;
        line-height: 1rem;
        font-family: 'Gridnik';
        position: absolute;
        left: 17.03125vw;
        top: 22.1875vw;

        span {
          display: block;
        }
      }

      .cross {
        position: absolute;
        z-index: 90;
        top: 48.302vw;
        left: 25.3645vw;
        width: 100px;
        height: 100px;
        transform-origin: top center;
        transform-style: preserve-3d;

        &:before {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: $c-fg;
          transform-style: preserve-3d;
        }

        &:after {
          content: "";
          display: block;
          transform: rotate(90deg);
          width: 100%;
          height: 1px;
          background-color: $c-fg;
          transform-style: preserve-3d;
        }
      }

      &-img {
        position: absolute;
        right: 0;
        top: 20.3125vw;
        width: 57.96875vw;
        height: 64.4270vw;
        transform-origin: top;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    .description {
      top: 78.125vw;
      position: absolute;
      margin-left: 12.8645vw;
      width: 74.21875vw;
      height: max-content;

        .line {
          pointer-events: none;
          font-family: Suisse Mono Thin;
          letter-spacing: -0.15362vw;
          margin-bottom: 2.6041vw;
          font-size: 0.7346vw;
          line-height: 0;
          height: 0px;
          background: $c-fg;
          width: 74.21875vw;
        }

        .line2 {
          pointer-events: none;
          font-family: Suisse Mono Thin;
          letter-spacing: -0.15362vw;
          margin-top: 1.6666vw;
          font-size: 0.7346vw;
          line-height: 0;
          height: 0px;
          background: $c-fg;
          width: 74.21875vw;
        }

      &-text {
        font-size: 5.7291vw;
        line-height: 6.25vw;
        height: 100%;
        text-transform: uppercase;
        position: relative;
        font-family: Gridnik Medium;

        span {
          display: block;
        }

        .wrapper {
          overflow: hidden;
        }

        &-last {
          position: relative;
          display: inline-block !important;
        }

        .internship {
          margin-top: 22px;
          position: absolute;
          transform: translateX(108%);
          top: 0;
          right: 0;
          font-size: 0.6875rem;
          line-height: 1.4;
          font-family: 'Gridnik';
          width: 9.71875vw;
        }
      }
    }

    .projects {
      margin-left: 12.8645vw;
      width: 74.21875vw;
      height: 130.46875vw;
      position: absolute;
      top: 121.5625vw;


      .cross {
        position: absolute;
        z-index: 90;
        top: 27.2395vw;
        right: 6.1458vw;
        width: 100px;
        height: 100px;
        transform-origin: top center;
        transform-style: preserve-3d;

        &:before {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: $c-fg;
          transform-style: preserve-3d;
        }

        &:after {
          content: "";
          display: block;
          transform: rotate(90deg);
          width: 100%;
          height: 1px;
          background-color: $c-fg;
          transform-style: preserve-3d;
        }
      }

      .project-1, .project-2 , .project-3 {

        &-text {
          font-size: 0.6875rem;
          line-height: 1rem;
          font-family: 'Gridnik';
          mix-blend-mode: difference;
          position: absolute;
          bottom: 4.1666vw;
          left: 4.1666vw;
          z-index: 20;

          span {
            display: block;
          }
        }

        width: 36.71875vw;
        height: 48.9583vw;

        &:hover {
          cursor: pointer;

          a::after {
            transform: scaleX(1);
          }

          img {
            transform: scale(1.10) rotate(2deg);
          }
        }

        &-img {

          width: 100%;
          height: 100%;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 1s $ease-out;
          }
        }
      }

      .project-1 {
        position: absolute;
        left: 0;
        top: 0;
      }

      .project-2 {
        z-index: 3;
        position: absolute;
        top: 37.5vw;
        right: 4.16666vw;
      }

      .project-3 {
        position: absolute;
        top: 81.510vw;
        right: 16.5625vw;
      }
    }

    .last-container {
      position: absolute;
      top: 252.03vw;
      width: 100vw;
      height: 32.4791vw;
      font-size: 0.6875rem;
      line-height: 1rem;
      font-family: 'Gridnik';

      .cross {
        position: absolute;
        z-index: 90;
        top: 0;
        left: 17.03125vw;
        width: 100px;
        height: 100px;
        transform-origin: top center;
        transform-style: preserve-3d;

        &:before {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: $c-fg;
          transform-style: preserve-3d;
        }

        &:after {
          content: "";
          display: block;
          transform: rotate(90deg);
          width: 100%;
          height: 1px;
          background-color: $c-fg;
          transform-style: preserve-3d;
        }
      }

      p {
        position: absolute;
        left: 37.8645vw;
        top: 15.6875vw;
        width: 7.552vw;
        display: block;
      }
    }
  }

  .grid-w {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 500vh;
    justify-content: center;
    pointer-events: none;
    opacity: .15;

    .grid {
      height: 100%;

      div {
        position: relative;
        float: left;
        width: 4.165vw;
        height: 100%;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          width: 0.390625vw;
          left: 0;
          height: 100%;
          background: #980000;
        }

        &:after {
          content: "";
          position: absolute;
          top: 0;
          width: 0.390625vw;
          right: 0;
          height: 100%;
          background: #980000;
        }
      }
    }
  }

  .a-container {
    position: relative;
    width: 100vw;

    .footer-wrapper {
      position: relative;
      width: 100%;
      height: 120.8541vw;
    }

    .a-intro {
      font-size: 0.75rem;
      line-height: 1rem;
      font-family: 'Gridnik';
      position: absolute;
      width: 11.77vw;
      left: 37.8645vw;
      top: 22.09375vw;

      p {
        width: 100%;
      }
    }


    .svg-wrapper {
      display: none;
      position: absolute;
      pointer-events: none;
      mix-blend-mode: difference;
      z-index: -1;
      opacity: .2;
      top: 45.416vw;
      left: -21.927vw;
      width: 64.27vw;
      height: 64.27vw;

      svg {
        width: 100%;
        height: 100%;

        path {
          fill: white;
        }
      }
    }

    .a-cross {
      position: absolute;
      z-index: 90;
      top: 29.4791vw;
      left: 79.53125vw;
      width: 100px;
      height: 100px;
      transform-origin: top center;
      transform-style: preserve-3d;

      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: $c-fg;
        transform-style: preserve-3d;
      }

      &:after {
        content: "";
        display: block;
        transform: rotate(90deg);
        width: 100%;
        height: 1px;
        background-color: $c-fg;
        transform-style: preserve-3d;
      }
    }

    .a-cross2 {
      position: absolute;
      z-index: 90;
      left: 25.3645vw;
      top: 108.645vw;
      width: 100px;
      height: 100px;
      transform-origin: top center;
      transform-style: preserve-3d;

      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: $c-fg;
        transform-style: preserve-3d;
      }

      &:after {
        content: "";
        display: block;
        transform: rotate(90deg);
        width: 100%;
        height: 1px;
        background-color: $c-fg;
        transform-style: preserve-3d;
      }
    }

    .a-title {
      font-family: Suisse;
      position: absolute;
      top: 76.9791vw;
      width: 53.38541vw;
      left: 12.86458vw;
      font-size: 1.5625vw;
    }

    .a-content {
      font-family: Suisse;
      position: absolute;
      left: 46.19791vw;
      top: 95.677vw;
      width: 20.052vw;
      font-size: 0.875rem;
      line-height: 1.5rem;

      p {
        width: 100%;
      }
    }

    .a-data {
      font-size: 15.625vw;
      font-family: Gridnik Medium;
      line-height: 15.625vw;

      &-n1 {
        overflow: hidden;
        position: absolute;
        left: 12.8645vw;
        top: 16.302vw;

        span {
          display: block;
        }
      }

      &-n2 {
        overflow: hidden;
        position: absolute;
        left: 50.3645vw;
        top: 34.6875vw;

        span {
          display: block;
        }
      }

      &-n3 {
        overflow: hidden;
        position: absolute;
        left: 29.53125vw;
        top: 53.0729vw;

        span {
          display: block;
        }
      }
    }
  }

  .p-container {
    position: relative;
    width: 100vw;

    .project-content {
      margin-top: 5.7291vw;
      margin-bottom: 5.7291vw;
      width: 74.21875vw;
      margin-left: 12.890625vw;

      &-img {
        width: 100%;
        height: auto;
        margin-bottom: 2.03125vw;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .project-header {
      width: 74.21875vw;
      margin-left: 12.890625vw;

      .line {
        pointer-events: none;
        margin-bottom: 5.7291vw;
        height: 1px;
        background: $c-fg;
        width: 74.21875vw;
        transform: scaleX(0);
        transform-origin: left;
      }

      .project-title {
        overflow: hidden;
        padding-top: 31.25vw;
        font-family: Gridnik;
        font-size: 12.5vw;
        line-height: 12.5vw;
      }

      .project-infos {
        position: relative;
        display: flex;
        font-size: 0.75rem;
        line-height: 1rem;
        font-family: 'Gridnik';

        .date {
          width: 4.1666vw;
        }

        .infos {
          margin-left: 16.6666vw;
          width: 28.385vw;

          &-title {
            margin-bottom: 2.03125vw;
          }

          &-content {
            font-family: Suisse;
            font-size: 40px;
            line-height: 56px;
          }

          &-extra {
            margin-top: 2.03125vw;
            width: 20.052vw;
            font-family: Suisse;
            font-size: 0.875rem;
            line-height: 1.5rem;
          }
        }

        .type {
          margin-left: 4.1666vw;
          width: 7.552vw;
        }

        .number {
          margin-left: 4.94791vw;
          width: 4.1666vw;

          span {
            display: block;
          }
        }
      }
    }
  }
}

html.has-scroll-smooth {
  overflow: hidden; }

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] { }

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100vh;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0; }
  .c-scrollbar:hover {
    transform: scaleX(1.45); }
  .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1; }

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab; }
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing; }